[2017-08-17 07:59] fresheneesz opened #1 "api\index.spec.js fails"
When I ran `npm run test`, it tells me I need to run a couple other things. `npm run build-main` seemed to work fine, and `npm run build-renderer` took a long time, but ended up working. But after that, when I run the tests, all of them pass except `api\index.spec.js`:

[code]

I'm on a windows 8.1 machine with node v7.10.0

[2017-08-17 08:01] fresheneesz opened #2 "Javascript error when running `npm run dev`"
I get the following error when I try to run the dev client with `npm run dev`:

![zap js error](https://user-images.githubusercontent.com/149531/29401821-8bc0ca9a-82e7-11e7-9e4f-3b4d4b625071.png)

Running on windows 8.1 node v7.10.0

[2017-08-17 14:01] jackmallers commented on #1
Hm, interesting. The API tests failed, which means something is up with the nodejs repo or your BTCD/LND.

Do you have BTCD, LND and zap-nodejs up and running?

[2017-08-17 14:04] jackmallers commented on #2
`app.doc` seems to be undefined.

Did you run `yarn` after cloning the repo and did you have any trouble with that?

[2017-08-17 18:36] fresheneesz commented on #2
I did run `yarn` - seemed to go through fine. I first ran npm install for about 20 seconds before I realized that wasn't the thing to do. So I killed it midway - might that have caused a problem?

[2017-08-17 18:38] fresheneesz commented on #1
Oh I didn't have either the bitcoin daemon or the LN daemon up. My ad-blindness made me miss that greyed out note in the readme. The only requirements I payed attention to are the bolded bullet points. I'll edit the readme to be a bit more consistent in how requirements are listed.

[2017-08-17 18:43] fresheneesz commented on #1
https://github.com/LN-Zap/zap-desktop/pull/3

[2017-08-17 18:43] #1 closed

[2017-08-17 18:43] fresheneesz commented on #1
I suppose there should be something it does to detect which requirement isn't available and properly report this in the test

[2017-08-17 20:00] fresheneesz commented on #2
Bleh, I'm sure this is because I don't have btcd and lnd up. But I ran into issues running them, so I'll just wait until this installation process is a bit easier.

[2017-08-17 21:34] jackmallers commented on #2
Ah! So you should only use one of the two, so pick either `yarn` or `npm` to manage your dependencies @fresheneesz

[2017-08-26 03:28] funyug commented on #2
Seems like that app.dock.setIcon() is only available for macOS. This needs to be fixed @jackmallers

[2017-08-26 16:07] jackmallers commented on #2
Reopened, I will look into this now. Thanks @funyug

[2017-08-28 01:16] callmekurisu commented on #2
confirm the app.dock.setIcon() is not available on Ubuntu 16.04. Commenting out allows the wallet to be launced.

[2017-08-30 01:01] jackmallers opened #11 "Support multiple sass-themes"
The application support Litecoin and can/will support others as well but defaults to BTC colors for now. Curious what the best way is to accomplish dynamic color-way themes

[2017-08-30 05:55] callmekurisu opened #13 "IBUS-WARNING"
On Ubuntu 16.04 after 'npm run dev':

`(electron:7538): IBUS-WARNING **: Unable to connect to ibus: Could not connect: Connection refused
(node:7504) DeprecationWarning: Chunk.modules is deprecated. Use Chunk.getNumberOfModules/mapModules/forEachModule/containsModule instead.
    at /home/kurisu/zap-desktop/node_modules/extract-text-webpack-plugin/index.js:271:24
    at /home/kurisu/zap-desktop/no

[2017-08-30 07:09] jackmallers commented on #13
Do you have you run `./node_modules/.bin/electron-rebuild` and do you have `LND` running?

[2017-08-30 08:17] callmekurisu commented on #13
Yes LND is running

`
2017-08-29 22:09:18.156 [WRN] LTND: open /home/kurisu/.lnd/lnd.conf: no such file or directory
2017-08-29 22:09:18.156 [INF] LTND: Version 0.3.0-alpha
2017-08-29 22:09:18.156 [INF] CHDB: Checking for schema update: latest_version=0, db_version=0
2017-08-29 22:09:18.159 [INF] LTND: Primary chain is set to: bitcoin
2017-08-29 22:09:18.980 [INF] LNWL: Opened wallet
2017-08-29 22

[2017-08-30 08:35] callmekurisu commented on #13
Ahh! I ran with --no-macaroons and it works!!

[2017-08-30 08:35] #13 closed

[2017-09-03 06:59] Haafingar opened #17 "npm run dev - Dependancy Issues?"
Hi everyone,
I have a fully synced segwit BTCD node up with LND, and building this on Ubuntu 17.04. I used npm to install dependencies ( I know it said to use yarn, but I was having problems with installing yarn so I stuck with npm instead). Npm generated the following log after I ran npm run dev.

[code]

Admittedly I'm quite new to this, but any suggestions for next steps would be greatly apprec

[2017-09-04 04:12] lsdafjklsd commented on #11
Do you want help on this? I was learning the codebase and assessing level of effort, also playing around with litecoin color combos (if that's on the table). The litecoin grey is a bit drab and I think a blue (compliment to bitcoin orange) with white and grey would look nice.

[2017-09-04 18:38] callmekurisu commented on #17
what version npm do you have?

[2017-09-04 23:45] jackmallers commented on #11
yo! sup haywood, I recognize you on the dev chat. I would love help. before we dive into the hex color schemes how do you think we should go about supporting multiple color schemes?

[2017-09-04 23:46] jackmallers commented on #11
keep in mind we also wanna design for a future where you can switch between chains while in the application. i've though about this for a little and am not set on any solution, would love to hear your opinion

[2017-09-04 23:46] jackmallers commented on #2
commented out for now, will revisit later. not that important atm

[2017-09-04 23:48] jackmallers commented on #17
You are also not supposed to use both NPM and yarn, you should pick one or the other. If you installed some dependencies with yarn and others with npm the application will throw errors

[2017-09-07 02:21] joaodealmeida opened #23 "Frontend Implementation for 'Send Coin' feature"
Wireframe + HTML/CSS for `sendcoin`.

[2017-09-07 02:23] joaodealmeida opened #24 "LND backend refactoring"
LND backend code refactoring + documentation

[2017-09-07 16:07] jackmallers commented on #17
Any update on this? Closing for now

[2017-09-07 16:07] #17 closed

[2017-09-07 16:08] jackmallers commented on #2
Gonna close this for now since it is no longer an issue

[2017-09-07 16:08] #2 closed

[2017-09-14 01:02] #24 closed

[2017-09-14 02:44] jackmallers opened #27 "List on-chain + LN payments in payments list ordered by timestamp"
The payments list should include on-chain + LN payments ordered by timestamp. Check with @brandnanthny and @jackmallers for design wireframes

[2017-09-14 02:48] jackmallers opened #28 "Package neutrino within application"
`LND Neutrino` light client should be packaged  with the app and running in the background, the user should not be responsible for running `LND` themselves unless they want to.

[2017-09-15 00:27] Haafingar commented on #17
Apolagies jack, been away. I have only used npm to handle dependancies. Cloned to a new folder and reinstalled only using npm 5.4.1 just to make sure. Another debug log in case it's useful is attached.

[2017-09-15T00_22_41_543Z-debug.log.zip](https://github.com/LN-Zap/zap-desktop/files/1304938/2017-09-15T00_22_41_543Z-debug.log.zip)

[2017-09-15 00:45] kewde opened #29 "Enable sandbox on electron"
I took a peek at the main.dev.js file and I noticed that electron doesn't have the sandbox protection on when creating the BrowserWindow. The [sandbox provided by Chromium](https://chromium.googlesource.com/chromium/src/+/master/docs/design/sandbox_faq.md) is actually quite nice and ahead of most other browser engines. The past few years we've seen many exploits targeted at browsers (we're looking

[2017-09-15 20:21] jackmallers commented on #29
Wow, very interesting @kewde. Thanks so much for taking the time to write this up. I am about to merge in a feature later today and then I will take a look 👍

[2017-09-16 12:30] kewde commented on #29
I noticed that you already use a static channel 'lnd' for the IPC communication, so I don't think you'll have to completely overhaul the architecture to apply the sandbox.

Another interesting security feature that you can add is a "payment confirmation model" on the backend. An exploit in the UI would be unable to bypass the payment confirmation model, so even if an attacker finds an exploit, the

[2017-09-19 16:49] #23 closed

[2017-09-22 03:20] #27 closed

[2017-09-22 03:20] jackmallers commented on #27
https://github.com/LN-Zap/zap-desktop/pull/32

[2017-09-23 02:30] VonIobro opened #34 "Slack link is no longer active on README"
I am interested in joining the discussion, can someone update the Slack link?

[2017-09-23 02:51] jackmallers commented on #34
Ah, good catch!

I'll update now. Looking forward to chatting on slack :)

[2017-09-23 02:53] #34 closed

[2017-09-24 08:35] fresheneesz commented on #27
Does this mean the todo item "List on-chain transactions" in the readme can be checked off?

[2017-09-24 08:40] fresheneesz opened #38 "Websocket handling for transactions and sendpayment"
I wrote a websocket-friendly RPC/event protocol called RPEP, based on a module I implemented for a project based on websocket server-client communication. If you're interested in using the protocol, I could open source a javascript implementation that you could use in this project. Here's the spec: https://github.com/Tixit/RPEP .

[2017-09-26 14:53] jackmallers commented on #38
Sorry, I need to update the README badly, I'll do that right now. Zap moved away from relying on a Node.js server w/ Websockets and now uses ipcRenderer instead

https://electron.atom.io/docs/api/ipc-renderer/

[2017-09-26 14:53] #38 closed

[2017-09-26 14:56] jackmallers commented on #29
Yeah so I took a deeper look, I think the architecture already supports sandbox support, since we moved away from Node/WS and went with ipcRenderer. I'll give it a try when I'm done with my current todo list.

Other security features like confirming payments should definitely be considered, but probably not until the MVP for testnet is done

[2017-09-26 14:57] jackmallers opened #41 "Payment form error handling"
Right now all errors are simple logged to the console. We need to display errors that happen when trying to send a payment.

Work with @JimmyMow and @brandnanthny on the design

[2017-09-26 14:57] jackmallers opened #42 "Request form error handling"
Right now all errors are simple logged to the console. We need to display errors that happen when trying to create an invoice.

Work with @JimmyMow and @brandnanthny on the design

[2017-09-26 14:58] jackmallers opened #43 "Error handling when creating a channel"
Right now all errors are simple logged to the console. We need to display errors that happen when trying to create a channel.

Work with @JimmyMow and @brandnanthny on the design

[2017-09-26 14:59] jackmallers opened #44 "Error handling when connecting to a peer"
Right now all errors are simple logged to the console. We need to display errors that happen when trying to connect to a peer.

Work with @JimmyMow and @brandnanthny on the design

[2017-09-26 15:31] VonIobro opened #46 "Sass-loader cannot resolve non-relative imports"
For Sass files, when replacing `@import '../../../../../../variables.scss'` with `@import 'variables.scss'`, the sass-loader cannot resolve the path when `npm run build-renderer`. However the resolved-paths are fine in the development environment.

There seems to be a problem with webpack/css-loader/sass-loader not recognizing the resolved paths. While preparing to `npm run test`, `npm run build-r

[2017-09-28 21:07] jackmallers opened #49 "Fetch balance when there's new on-chain/ln transaction and channel updates"
Now that we subscribe to new transactions for both on-chain/LN and channel updates we should be updating the wallet/channel balance accordingly.

There is a `fetchBalance` function in the `balance` reducer already, it just needs to be called in the right places for async updates

[2017-09-28 21:11] jackmallers opened #50 "Feature: Implement SubscribeChannelGraph"
Subscribe to ChannelGraph graph topology updates on the backend (inside the `app/lnd/subscribe` folder: https://github.com/LN-Zap/zap-desktop/tree/master/app/lnd/subscribe)

[2017-09-30 14:57] kewde commented on #29
I've added an extended example that allows for multi-channel support (using a whitelist). Always happy to assist with any questions.

[2017-10-10 21:48] mecampbellsoup commented on #43
@jackmallers so the error you want to display in the app is "failure to create channel" or something like that, and right now it's *only* being logged to the console?

[2017-10-16 19:41] fresheneesz commented on #28
Would love to see this. I gave up trying to test this because it was too hard to set up. I've been testing this one cause its dead simple (just download and run [and wait for sync]) https://github.com/lightninglabs/lightning-app

[2017-10-16 19:43] joaodealmeida commented on #28
@fresheneesz We got it working for macOS. We are just waiting to finish the linux and windows implementations before distributing any binaries.

[2017-10-16 20:25] JimmyMow commented on #28
Apologies @fresheneesz, I've been a bit busy with other things. I have this working for Mac, should be trivial to get it working for Linux and Windows.

[2017-10-16 20:42] fresheneesz commented on #28
@joaodealmeida Sounds great! @JimmyMow No need to apologize. I wish I had time to help, myself. Excited to try it out with a friend when its ready!

[2017-10-23 21:19] calvin-pietersen opened #61 "Slack link not working"
Slack link is no longer available.

https://zaphq.slack.com/join/shared_invite/enQtMjQ2NTg3NzA5NTkwLTRjNjNhMDc5ZmIyNTA4ZTJiNDNiYzlkM2E5NzhlOTU5ZTI5ZGIxYzQ4NWI5NTcyYjQxZDEzNTQwNmJkNzQ1NmE

[2017-10-24 10:46] calvin-pietersen opened #62 "Error building boring ssl on Linux"
While running `yarn` , the following error occurs

`[2] ../third_party/boringssl/crypto/bio/fd.c: In function ‘fd_ctrl’:
[2] ../third_party/boringssl/crypto/bio/fd.c:192:11: error: this statement may fall through [-Werror=implicit-fallthrough=]
[2]        num = 0;
[2]        ~~~~^~~
[2] ../third_party/boringssl/crypto/bio/fd.c:193:5: note: here
[2]      case BIO_C_FILE_SEEK:
[2]      ^~~~
[2] cc1:

[2017-10-26 14:26] joaodealmeida commented on #28
This has been achieved with PR #59 .

[2017-10-26 14:26] #28 closed

[2017-10-26 14:28] joaodealmeida commented on #41
This has been achieved with PR #64 .

[2017-10-26 14:28] #41 closed

[2017-10-26 14:28] joaodealmeida commented on #42
This has been achieved with PR #64 .

[2017-10-26 14:28] #42 closed

[2017-10-26 14:29] joaodealmeida commented on #43
This has been achieved with PR #64 .

[2017-10-26 14:29] #43 closed

[2017-10-26 14:29] joaodealmeida commented on #44
This has been achieved with PR #64 .

[2017-10-26 14:29] #44 closed

[2017-10-26 14:31] joaodealmeida commented on #46
This has been achieved with PR #40 .

[2017-10-26 14:31] #46 closed

[2017-10-26 14:37] joaodealmeida commented on #49
This has been achieved on commit bbb20214d1f9a9a3752db75313a0ecaa125a4c3f .

[2017-10-30 18:45] JimmyMow commented on #62
Hm, interesting. What's your Node version @calvin-pietersen

[2017-10-30 18:47] JimmyMow commented on #62
Ah, after taking a closer look at your error it seems to be `grpc` related. Did you generate compatible certs and use electron-rebuild (instructions in the README)

[2017-10-30 18:49] JimmyMow commented on #50
@joaodealmeida this is just a simple ticket to create the subscribe functionality in the backend. I will tie it to front end notifications when this is done

[2017-10-30 18:51] JimmyMow commented on #61
Sorry! Here ya go:

https://join.slack.com/t/zaphq/shared_invite/enQtMjYzNDQyMTQxOTU4LTY3ZDk4M2Y3YmEzOTM1ODk1NjEwYjJmMmY3NmU2YTM3ZmJmOTViODcxN2E3MmYyNjAxOGNmNzY1ZDhhYmEwMDI

[2017-10-30 18:51] JimmyMow commented on #61
Will update README in a sec

[2017-11-01 10:31] #61 closed

[2017-11-02 14:21] joaodealmeida commented on #50
ok, i'll work on this.

[2017-11-02 15:19] JimmyMow commented on #50
nice

[2017-11-06 22:07] Otomakan opened #66 "npm run build-dll exited with code 0 flow-typed exited with code null"
When using node 8.1.3 running on Ubuntu 16.04 I got the following message

[code]
Then the install doesn't continue with no error message

Simply solved the issue by upgrading to 8.9. Someone might want to look into it

[2017-11-06 22:22] JimmyMow commented on #66
Interesting. `8.1.3` shouldn't have given you an error. I will look into it, thanks.

Closing because this seems to be resolved

[2017-11-06 22:22] #66 closed

[2017-11-06 22:22] JimmyMow commented on #62
Any update @calvin-pietersen?

[2017-11-15 13:03] torkelrogstad opened #69 "Git treatmeant of line endings"
This might be more of a git issue than zap-desktop issue, but I don't really know where else to ask. When I enter the zap-desktop dir, I get the following message:
[code]

It also becomes super slow to navigate around the repo, I assume this is because git is doing something wonky with the line endings for every command I issue.

Any ideas on what I should do about this?

EDIT: I'm running Linux M

[2017-11-20 21:10] probonopd opened #72 "Please provide AppImage for download"
As per

https://github.com/LN-Zap/zap-desktop/blob/5f389c19362405db41c659ed593e6fe416a0a2f5/package.json#L69

LN-Zap is already configured to be bundled as an AppImage. It would be great if you could provide an AppImage for download on [GitHub Releases](https://github.com/LN-Zap/zap-desktop/releases).

Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Appl

[2017-11-21 00:17] KevinKelbie opened #74 "missing `electron-rebuild` in package.json"
When you follow the readme you have to run the command `./node_modules/.bin/electron-rebuild`. Since the package.json file doesn't include it it means you have to download it yourself which isn't hard, it's just a small inconvenient step.

[2017-11-22 20:38] avlo commented on #69
LMint 17.2 here.  just cloned the repo & on master branch, navigating all project dir w/o issue.

if you haven't already, try turning autocrlf off:

```git config core.autocrlf false```

and see if that works.  if it doesn't double check <project_root>/.git/config and ~/.gitconfig and delete any/all lines containing ***autocrlf***, restart your shell, then try navigating again.

if that doesn't wo

[2017-11-22 20:53] torkelrogstad commented on #69
None of the steps you suggested worked. `git version` gives me 2.7.4, so I doubt that's the issue.

However, adding `resources/bin` to `.gitignore` and doing `git rm --cached` on the binaries provided makes navigation fast. I guess that's git doing something with line endings on those files, even though they are binary. They are 26M, so changing all perceived 'line endings' must've been what took

[2017-11-22 21:20] JimmyMow commented on #72
Thanks for creating this issue. Yes, this is needed. I have been very busy but will be working on Zap Desktop now getting it ready for mainnet testing. I will keep this open until I provide a release

[2017-11-22 21:32] JimmyMow commented on #74
Sorry, the README is so out of date. I just pushed new README updates. `electron-rebuild` isn't needed anymore :)

[2017-11-22 21:32] JimmyMow commented on #74
Closing this for now as the new README should solve this

[2017-11-22 21:32] #74 closed

[2017-11-22 21:34] JimmyMow commented on #50
this is now in master. closing

[2017-11-22 21:34] #50 closed

[2017-11-23 07:18] kyluke opened #78 "Failed to read content scripts Error: EACCES: permission denied"
After the setup with yarn, running ```npm run dev``` gets stuck at " 0% - syncing your lightning node to the blockchain".

The console outputs the following:

[code]

The file exists:

[code]

Note, I gave ```inject.js``` 777 permission to try and see if that would fix it.

[2017-11-28 06:36] nandubatchu opened #80 "Channels category dropdown not functional"
The channels category dropdown available (on top left) in the visual preview of channels page is not functional.

[2017-11-28 06:38] JimmyMow commented on #80
@nandubatchu can you please be a bit more descriptive? What do you mean by not functional?

[2017-11-28 06:46] nandubatchu commented on #80
@JimmyMow I don't see any change in the node graph when I select "All Channels", "Active Channels", "Pending Channels" & "Open Pending Channels".

However, I myself have three channels open with only one active at an instance.

[2017-11-28 06:47] JimmyMow commented on #80
Ah like the visual representation of the channels. The black graph? The graph only shows active channels. I can hide the dropdown when the graph is active

[2017-11-28 06:50] nandubatchu commented on #80
Yes, the black graph. Can we not get more details of the nodes on hover or something?

[2017-11-28 06:51] JimmyMow commented on #80
We can. If you want to make a separate issue for that feature request and assign it to me I can get to it at some point

[2017-11-28 07:02] nandubatchu opened #81 "[Feature Request]Enhanced node details in channel-node-graph"
@JimmyMow We need to provide more details of the node selected/hovered in the channel graph  provided to gain more insights on popular nodes.

[2017-11-30 01:01] #80 closed

[2017-11-30 01:02] JimmyMow commented on #69
Was there ever any solution to this?

[2017-11-30 01:02] #49 closed

[2017-11-30 01:02] JimmyMow commented on #62
Closing

[2017-11-30 01:03] #62 closed

[2017-11-30 13:39] torkelrogstad commented on #69
Nothing other than ignoring the supplied binary files. It doesn't cause any problems for me as long as I run `lnd` separately. If I shut down lnd and then run `npm run dev`, I'm stuck at 0% syncing and `lnd shutting down null` in my terminal.

[2017-11-30 20:01] torkelrogstad commented on #69
Eh, this is kinda weird, but now I don't manage to reproduce this... I was poking around for solutions, and I realized this problem wen't away, even though I kept the original `.gitignore`. I was hoping I could fix this to prevent the same problem for others in the future, so that's actually kinda frustrating...

[2017-11-30 20:03] JimmyMow commented on #69
@torkelrogstad yeah so git doesnt like my binary files. if you manually put your `lnd` binary inside `resources/bin/darwin` or whatever it will work. dang! i will do some research in a bit

[2017-11-30 20:37] torkelrogstad commented on #69
Theres also the possibility of adding `resources/bin/* -text` to `.gitattributes` [docs here](https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes), if the problem arises again.

[2017-11-30 21:18] JimmyMow commented on #69
Wanna submit a PR for that? Looks good

[2017-11-30 22:18] torkelrogstad commented on #69
Sure, #83

[2017-12-01 17:22] JimmyMow commented on #78
Any update on this? Sorry for the late response

[2017-12-01 23:20] JimmyMow commented on #69
Nice. Closing

[2017-12-01 23:20] #69 closed

[2017-12-02 15:46] kyluke commented on #78
Not yet, perhaps I'm not waiting long enough; how long does a sync usually take from scratch?

[2017-12-02 18:42] joaodealmeida commented on #78
around 20 min

[2017-12-04 00:03] victorbordo commented on #78
@kyluke I'm seeing the same issue on Mac OSX (Sierra 10.12.6). Try `chmod 744 build` where `inject.js` resides. I can also note that `sudo npm run dev` silences the err but it looks like the problem persists using that route. Also doesn't smell right to start up the process as root

[2017-12-04 04:45] JimmyMow commented on #78
@victorbordo @kyluke did a little research and it looks like this issue stems from `electron-devtools-installer`: https://github.com/MarshallOfSound/electron-devtools-installer/pull/64

Zap just needs to update `electron-devtools-installer`. Doing that locally should solve the issue for you. I will create an issue and update `master` tonight

[2017-12-06 13:25] torkelrogstad commented on #69
The problem is back... Even with the updated attributes file...

[2017-12-06 23:23] devrandom opened #86 "lnd binary is checked into repository"
At `resources/bin/darwin/lnd`.

Not good practice.

[2017-12-07 07:33] nandubatchu opened #87 "QR code displaying node URI"
To open a channel between users, we need a QR code displaying the node details.

[2017-12-07 18:53] mbarkhau opened #88 "Missing resources/bin/linux/lnd"
[code]

It's not that this should be in the repository, but it should be part of the build process right?

[2017-12-07 19:31] JimmyMow commented on #88
yes, plan on updating this soon. thanks for creating an issue!

[2017-12-07 19:32] JimmyMow commented on #86
Agreed. Opinion on what we should do?

[2017-12-07 19:36] devrandom commented on #86
probably best to just expect it to be in $PATH, and point people to the lnd README

[2017-12-08 20:46] PierreRochard opened #90 "Slack link is expired"
Getting "This invite link is no longer active." from the link in the readme

[2017-12-08 21:09] JimmyMow commented on #90
Shoot. The ability to create invite links has disappeared for me 🙁

For the time being I can invite you via email while I find a better solution. Email you want me to send a link to @PierreRochard?

[2017-12-08 21:22] PierreRochard commented on #90
pierre@rochard.org please, thank you @JimmyMow !

[2017-12-08 21:41] JimmyMow commented on #90
@PierreRochard sure thing. sent.

gonna keep this issue open till I figure out a better invitation solution

[2017-12-08 21:43] JimmyMow commented on #88
@mbarkhau updated the `README` to install `lnd` and put a copy of the `lnd` binary into zap. or you can run `lnd` from the command line and zap will pick it up.

gonna close this. feel free to reopen if you feel the instructions are good enough

[2017-12-08 21:43] #88 closed

[2017-12-08 21:44] PierreRochard commented on #90
Thank you!

[2017-12-10 07:49] funyug commented on #90
There are two links to slack in the readme file. The first one works. The second one under the todo section is expired.

[2017-12-11 17:06] JimmyMow opened #95 "Integrate Travis"
https://github.com/LN-Zap/zap-desktop/pull/85#issuecomment-350393176

@torkelrogstad here is the issue to set up continuous integration for the project

[2017-12-11 17:07] JimmyMow commented on #95
@torkelrogstad

[2017-12-11 17:08] JimmyMow commented on #90
Yup. Closing this issue since https://github.com/LN-Zap/zap-desktop/pull/94 is merged

[2017-12-11 17:08] #90 closed

[2017-12-11 19:34] torkelrogstad commented on #95
Nice
@JimmyMow I see that there's already a `.travis.yml` file in the repo. That's the file Travis uses for config purposes. Was Travis set up for this project previously?

[2017-12-12 18:20] mbarkhau commented on #88
It was clear enough yes. Thank you!

[2017-12-13 15:37] SvenSommer opened #101 "Readme.md - Installation Requirements missing yarn"
In the requirements **yarn** should be added. Here is potential a link to the instructions: [Yarn](https://yarnpkg.com/lang/en/docs/install/)

[2017-12-14 00:42] Empact commented on #86
This can be closed in light of:
d1f664a10d23ed6ce98f1a1b9307d8e0f34e40be
2383ea8f7a8ff9afe5cd0abf6c1b493cebfe21cf

[2017-12-14 03:54] JimmyMow commented on #101
thanks. fixed

[2017-12-14 03:54] #101 closed

[2017-12-14 03:54] JimmyMow commented on #95
I didn't personally, I assume it came with the boilerplate I used @torkelrogstad

[2017-12-14 03:55] JimmyMow commented on #86
👍 closing

[2017-12-14 03:55] #86 closed

[2017-12-14 03:56] JimmyMow commented on #78
closing this because of https://github.com/LN-Zap/zap-desktop/pull/91

feel free to re-open if this is still an issue

[2017-12-14 03:56] #78 closed

[2017-12-14 04:10] JimmyMow opened #103 "Show loading state when opening/closing channel"
# **Problem**
Zap opens and closes channels [async](https://github.com/LN-Zap/zap-desktop/blob/master/app/lnd/push/openchannel.js#L4) and waits for updates from LND to [fetch](https://github.com/LN-Zap/zap-desktop/blob/master/app/reducers/channels.js#L123) the new channels list.

The issue here is that the UX is poor. The form closes and the user is left not knowing what's happening for 5-30 secon

[2017-12-14 05:37] JimmyMow opened #105 "Offer deposit address while LND is syncing"
While LND is syncing and we are showing the spinner with a % number we can generate a new address and display it. I personally would like to deposit while I'm waiting for sync.

Talk to myself and @brandnanthny on slack for design

[2017-12-14 05:37] JimmyMow opened #106 "Macaroon support"
Right now we run LND with `--no-macaroons`, we should add macaroon support

[2017-12-15 08:02] auldsyababua commented on #11
@jackmallers why would switching between chains affect color schemes? Wouldn't the theme just change once a user switched to a different chain? Just trying to understand the enhancement wanted here so maybe I can help. Is this still something you are looking to do?

[2017-12-15 08:03] auldsyababua commented on #95
I can try to take a stab at this next week if wanted. How do I get in on the slack channel?

[2017-12-15 19:46] JimmyMow commented on #95
@auldsyababua slack link should be in the README

[2017-12-15 19:51] JimmyMow commented on #11
@auldsyababua yeah so this was back when litecoin devs were working on LN stuff. The idea was that we could have a theme for each LN supported coin. this isn't high priority anymore and I may close it. no other coins have neutrino support and we are focused on BTC atm

[2017-12-16 03:02] joaodealmeida commented on #106
I'll take this one ✌️

[2017-12-18 04:54] thejourneydude opened #111 ""across" misspelled as "accross""
On the Lnd Syncing page, the word "across" is misspelled as "accross." To fix this, one can edit the text on the following [line](https://github.com/LN-Zap/zap-desktop/blob/37959368619cc895f99b96f5561f9439e042956e/app/components/LndSyncing/LndSyncing.js#L20).

[2017-12-18 07:51] joaodealmeida commented on #111
nice catch 👍

[2017-12-19 21:02] #111 closed

[2017-12-20 03:57] NahomAgidew commented on #95
@JimmyMow Since there's already the config file, you just go to https://travis-ci.org/ and enable Travis for the project.

[2017-12-21 22:21] probonopd commented on #72
Please let me know if I can assist in any way. Thanks.

[2017-12-22 02:22] NahomAgidew opened #116 "UX Feature: Add a button to copy invoice"
Already Done :) #117

[2017-12-22 08:24] DenisMir opened #118 "Yarn dependency installation: flow-typed exits out with code 0"
I have tried to follow the documentation for installing zap-desktop on a OSX 10.13.2. I'm using `node@9.3.0`, `npm@5.5.1` installed by `nvm` and `yarn` installed by `brew` @ version 1.3.2. When executing `yarn` the dependency installation exits out with:

[code]
Do you have any idea of what is going wrong?

[2017-12-22 21:07] joaodealmeida commented on #106
This has been merged.

[2017-12-22 21:07] #106 closed

[2017-12-22 23:21] Empact commented on #118
When I run the install, it shows the error you mention, which is non-fatal, processes for a while, then eventually outputs:
`✨  Done in 301.11s.`

Are you sure the install is failing? Have you tried running `npm run dev`?

[2017-12-23 08:59] Empact opened #119 "Move channel creation validation in-line with the modal"
We can issue the partial channel creation rpc calls and check if we get the expected failure code, so that we can show validation immediately on the relevant modal page.

E.g.
[code]

I think adopting redux-form would be helpful for this.
https://redux-form.com/

[2017-12-23 09:26] Empact opened #120 "Handle TemporaryChannelFailure and other errors on payment fulfillment"
Followed these instructions: https://yalls.org/articles/cca5df93-2183-47a6-a611-0d68534e9c67

Tried to buy this: https://lightning.bitrefill.com/steam-eur-voucher/

But after entering the payment request into Zap and approving it, Zap hung on the loading screen, while LND reported: "Attempt to send payment * failed: TemporaryChannelFailure"

Seems we should handle errors and not block on retries..

[2017-12-23 09:28] Empact commented on #120
Here are some enumerated channel errors:
https://github.com/lightningnetwork/lnd/blob/master/lnwire/onion_error.go

Unfortunately TemporaryChannelFailure includes some pretty important errors:
[code]

[2017-12-23 09:33] Empact commented on #120
I think this failure was due to exceeding the capacity of a hop node.

[2017-12-24 19:38] helgabutters opened #123 "Payment Request UI: Add max field length"
Currently the "Payment Request" UI does not have a max field length which allows you to crash the "Wallet" when using an overly long note. This behavior survives a reboot of zap wallet.

ZAP Error:
[code]

LND Invoice Log:
[code]

![1](https://user-images.githubusercontent.com/8001978/34328812-124e5f2e-e8b8-11e7-84fc-64e8331d6b17.png)

[2017-12-25 01:21] Empact commented on #123
See also: #120

[2017-12-25 22:31] Zubin-Teherani opened #125 "Error: unknown service lnrpc.Lightning"
I'm getting the following error while trying to run `npm run dev` while running lnd:
[code]

[2017-12-26 00:03] joaodealmeida commented on #125
May I know the OS?

Did you install grpc ?

[2017-12-26 02:24] Zubin-Teherani commented on #125
@joaodealmeida this was fixed with the help of @janis in the slack channel.

I think I was running lnd wrong. I moved the binary to the resources folder and this fixed my problems. Going to close this issue now.

Looking forward to trying to help here!

[2017-12-26 02:24] #125 closed

[2017-12-26 11:39] DenisMir commented on #118
@Empact Trying it out right now. I will give feedback when done.

[2017-12-26 11:44] DenisMir commented on #118
You were right. It does succeed after some time of waiting. `npm run dev` does run fine now!

[2017-12-26 16:32] JimmyMow commented on #120
@Empact so the weird thing is we do handle payment errors. I've had issues with LND in general with this. This being that errors do not trigger a callback and therefor Zap hangs.

Here is where we handle the error:

https://github.com/LN-Zap/zap-desktop/blob/master/app/lnd/methods/paymentsController.js#L15
https://github.com/LN-Zap/zap-desktop/blob/master/app/lnd/methods/index.js#L148
https://gith

[2017-12-26 16:32] JimmyMow commented on #87
This is enabled now. Closing

[2017-12-26 16:32] #87 closed

[2017-12-26 16:35] JimmyMow opened #126 "Allow user to set their node alias"
Each LND node can set their node alias. This will improve the overall UX and enable cooler features if we allow users to give their node a "username"

Talk to @brandnanthny and I for design for this

[2017-12-26 16:38] Empact commented on #120
I'll look into it.

[2017-12-26 17:44] thinkjanis opened #127 "UX Feature: Display invoice modal after initiating a payment request"

[2017-12-26 19:53] JimmyMow commented on #127
Thanks for creating an issue @thinkjanis, I'll assign this to myself 👍

[2017-12-27 17:31] JimmyMow commented on #123
@helgabutters I'm trying to reproduce this locally. So when creating a payment request you input a long memo and Zap crashes? How long? I just did 250 chars and things seem to be fine.

[2017-12-27 17:32] JimmyMow commented on #123
<img width="1440" alt="screen shot 2017-12-27 at 11 32 02 am" src="https://user-images.githubusercontent.com/4040039/34388506-95f2e046-eaf9-11e7-820b-6d17e9837142.png">

I also got this when doing like 2,000 char length. Is this for when creating a request or making a payment?

[2017-12-27 17:57] JimmyMow commented on #118
Cool. Closing this

[2017-12-27 17:57] #118 closed

[2017-12-27 20:58] thinkjanis opened #131 "UX Feature: Make Zap resizable and borderless with a title bar"
Most apps are not fullscreen so the same should be applied to Zap. If there is a desire to have this option, then a toggle should be added in settings.

Minimal size for the app (min-width and min-height) should be defined.
![zap](https://user-images.githubusercontent.com/31632325/34395181-0549668c-eb67-11e7-84d3-cb98118b73c3.png)

[2017-12-27 22:18] JimmyMow commented on #127
Now in master with https://github.com/LN-Zap/zap-desktop/pull/132

[2017-12-27 22:18] #127 closed

[2017-12-27 22:24] JimmyMow commented on #123
Was able to reproduce. the LND team is aware of this issue

[2017-12-27 22:30] thinkjanis commented on #131
Minimal width/height should be a bit smaller so that the wallet can have some space around it on a 1280×720 screen. Some CSS optimizations will be needed.

[code]

[2017-12-27 22:39] JimmyMow commented on #116
https://github.com/LN-Zap/zap-desktop/pull/117 is merged. closing this

[2017-12-27 22:39] #116 closed

[2017-12-28 06:26] JimmyMow commented on #131
@thinkjanis ooo that's a cool screenshot.

yeah this shouldn't be too difficult. i'll assign this to myself.

[2017-12-28 14:40] pajasevi opened #133 "Singular input for Node URI"
It would be better to have single text input for Node URI (Peer connecting) in `public_key@ip_address:port` format rather than having two inputs.

Other LN clients support it this way and LN explorers (like https://explorer.acinq.co) will provide URI this way too.

I can do a PR if you agree.

[2017-12-28 16:29] thinkjanis commented on #133
What about having one input field at first and if it detects that only the peer is inserted, it can generate an IP address field below?

[2017-12-28 16:40] thinkjanis opened #134 "Display payment request memo in pay view"

[2017-12-28 17:03] thinkjanis opened #135 "UI Feature: Add an app icon"
For a fast implementation, these would look good in my opinion.

![screenshot from 2017-12-28 18 47 05](https://user-images.githubusercontent.com/31632325/34417451-5d508654-ec01-11e7-9ace-9f90ed63e6ce.png)

![screenshot from 2017-12-28 18 55 09](https://user-images.githubusercontent.com/31632325/34417452-5d9ec8be-ec01-11e7-983d-980d55905563.png)

[2017-12-28 17:16] thinkjanis opened #136 "UI Bug: Make error message close button (X) noticeable with long messages"
![screenshot from 2017-12-26 20 47 18](https://user-images.githubusercontent.com/31632325/34417889-9cd89594-ec03-11e7-9211-23e6f26235c5.png)

[2017-12-28 19:04] thinkjanis opened #137 "Add Bits Denomination by default (BIP176)"
Since there will be a lot of interest in using Zap with smaller transactions, this would be a great time to introduce Bits Denomination. For most users, it would be easier to switch from fiat because bits allow displaying the full Bitcoin balance with 2 decimal places and the same format is used with traditional currencies.

A more detailed explanation of the benefits by @jimmysong
https://github.

[2017-12-28 19:16] thinkjanis opened #138 "UX Enhancement: Remove error popup message after an action"
The top red popup doesn't disappear after an error. When modifying input fields (performing an action) or switching to a new view, it should disappear.

[2017-12-28 19:21] thinkjanis opened #139 "UX Enhancement: Include unconfirmed incoming and outgoing onchain transactions"
Should appear in the transaction list either greyed out or with a message that indicates the status.

[2017-12-28 19:59] pajasevi commented on #133
The component is now stateless and I would like to avoid changing that. This would make the component a little too complex with a little new advantages. Proper error message (which is there now) should be enough.

[2017-12-28 20:02] pajasevi commented on #138
What about timeout on error message? 10 seconds maybe? Could be easy to implement.

[2017-12-28 21:15] thinkjanis commented on #138
Yes, good point @pajasevi. I was about to add it but the timeout may prevent the user from reading it, gets distracted etc. What if a user sends a transaction, the error is displayed, and the app is minimized?

I am thinking the timeout should apply when the app window is active. Every time the app is minimized with the message, the timeout stops, and when maximized, resets or has 5 seconds remain

[2017-12-28 22:18] pajasevi commented on #138
Maybe we should rethink how the global error UI works. Right now it can only show one error, so more errors happening at the same time are a problem.

Solution would be adding errors to the list and displaying them to the user in more compact but still visible way (top of the UI, not fixed to the top of the app). This would allow displaying more errors without hurting the view and there would be n

[2017-12-29 07:03] Empact commented on #95
First ever CI-checked PR 🤘 https://github.com/LN-Zap/zap-desktop/pull/140

[2017-12-29 11:02] mariodian opened #141 "invalid passphrase for master public key"
When I run `npm run dev` the app is stuck on "_Syncing the lightning node to the blockchain_" and I get the following output:

[code]

I can run lnd separately with no issues (but Zap still doesn't load) but when I only run Zap on its own it gives me these two errors:

[code]

[2017-12-29 13:48] NahomAgidew commented on #136
@thinkjanis  I was thinking of removing the close button and make the error message auto-disappear after a few seconds.

[2017-12-29 14:27] thinkjanis opened #142 "UX Enhancement: Add "Send All Funds" button in pay view for on-chain transactions"
## Detailed Description

Add option to send all on-chain funds shows up when pasting in a BTC address in pay view.

## Context

Improve usability of Pay form

## Possible Implementation

- Add a Toggle switch to the bottom of the amount section of the Pay form
- When selected, the populate the amount fields with the full on-chain balance and disable the amount fields
- When deselected, re-enable t

[2017-12-29 14:30] thinkjanis opened #143 "UI bug: Fix visual cutoffs in pay/request view"
![screenshot from 2017-12-27 18 43 34](https://user-images.githubusercontent.com/31632325/34439284-689ca2a4-ecb5-11e7-9762-4b4124159a19.png)

[2017-12-29 15:07] thinkjanis opened #144 "UI Enhancement: Hide expired and unpaid request invoices from the transaction list"

[2017-12-29 15:27] thinkjanis opened #145 "Have a unified close button (X) style in all modals"
![close_btn](https://user-images.githubusercontent.com/31632325/34440390-800e5ba0-ecbd-11e7-85c4-15fa1613d159.png)

[2017-12-29 15:40] JimmyMow commented on #95
Ayyyyy. Just don't wanna close this cause it took Travis 20 minutes to clear lol. Must be doing something wrong

[2017-12-29 15:49] JimmyMow commented on #138
Gonna close this issue since #140 is merged.

@pajasevi if you wanna open a new ticket to enhance global errors feel free. Probably a good idea

[2017-12-29 15:49] #138 closed

[2017-12-29 17:27] JimmyMow commented on #145
You're on fire @thinkjanis, nice. Thank you

[2017-12-29 18:55] thejourneydude opened #146 "Lnd Syncing page fact descriptions don't have periods at the end"
On the Lnd Syncing page, there are four facts: `The Lightning Network`, `Payment Channel`, `HTLC `, and `Onion Routing`. Each fact has an description. Only one fact, `Onion Routing` has a period at the end of the description. There should be some consistency in either having or not having periods at the end of the description. My suggestion is to have a period at the end of each description.

To f

[2017-12-29 21:23] thinkjanis commented on #136
Solved by #140

[2017-12-29 21:23] #136 closed

[2017-12-30 15:12] pajasevi commented on #138
Will do! Thanks :zap:

[2017-12-30 15:13] pajasevi commented on #146
@thejourneydude Well, why don't you open a pull request then?

[2017-12-30 16:17] pajasevi commented on #145
I'm on it! :wink:

[2017-12-30 18:18] pajasevi commented on #143
@thinkjanis  I'm not able to reproduce that. Can you describe how that happens?

[2017-12-30 22:23] pajasevi commented on #11
Best way to do this in css is using [CSS custom properties](https://developer.mozilla.org/en-US/docs/Web/CSS/--*). Very easy to switch to different theme then.

[2017-12-31 18:02] JimmyMow commented on #146
Good catch @thejourneydude. I am actually redesigning the syncing page.

The new syncing page will have the ability to set your node `alias` and show you a deposit address so you can deposit coins while syncing. I already mocked it out on a branch:

<img width="1440" alt="screen shot 2017-12-29 at 2 22 05 pm" src="https://user-images.githubusercontent.com/4040039/34463465-7ccd0444-ee22-11e7-99de-d

[2018-01-02 05:26] coolpick opened #150 "Slack invite is no longer valid"
The Slack URL is a dead link.  Please update with an active URL.  Current (dead) is: https://join.slack.com/t/zaphq/shared_invite/enQtMjc5Njg3NjU5MzMzLWE1M2RiNjYxNWEyMTRjMzhmZDIyNTQ0YTRjNDg4MWNiMzI1ODNlODhhMzE5ZWVmMGVkOWVkMTVmNzBhNDhiZjQ

[2018-01-02 07:49] stefek99 opened #151 "Create a release package so that less technical users can try out the thing."
Not everyone is a developer, we would like to facilitate adoption.

[2018-01-02 16:42] JimmyMow commented on #150
fixed #152

[2018-01-02 16:42] #150 closed

[2018-01-02 16:47] #145 closed

[2018-01-02 17:10] JimmyMow commented on #141
@mariodian are you still seeing issues here? This is strange, I've had no luck reproducing this.

What OS are you running anf what Zap/LND commits?

[2018-01-02 17:12] JimmyMow commented on #151
Sure. We plan on posting a release fairly soon

[2018-01-03 12:55] halseth commented on #123
Did you figure out the root cause for this error?

[2018-01-03 17:08] JimmyMow commented on #123
@halseth yeah @helgabutters submitted an issue to LND (https://github.com/lightningnetwork/lnd/issues/516) and I know roasbeef is aware.

looks like you submitted a related issue as well? (https://github.com/lightningnetwork/lnd/issues/553)

[2018-01-04 09:12] halseth commented on #123
My issue shouldn't be related (I _think_), but as long dr beef is aware we should be good ;)

[2018-01-05 14:41] emplexity opened #157 "Pay and request do not execute"
I run lnd 0.3 with the following lnd.conf on my ubuntu 14.04:
debuglevel=info
bitcoin.active=1
bitcoin.testnet=1
neutrino.active=1
neutrino.connect=btcd.jackmallers.com:18333
autopilot.active=1
noencryptwallet=1

I then launch zap w/ the 'mpn run dev' cmd. (installed from github on the 03.01.18)
I did set up 6 channels successfully and they are all showing up as active, all all related bitcoin tra

[2018-01-05 17:57] thinkjanis commented on #143
When typing 000... instead of 0.00... and leaving out the dot. With . and e. Happens almost randomly.

[2018-01-05 18:51] mariodian commented on #141
Yes, I still have the issues.

I use the latest OSX 10.13.2.

LND commit is #e2fe4c2, ZAP #6a1e069.

When I run zap (without running LND manually first) I'm getting the above error.

When I run lnd manually first (from its own repo) and then zap, I'm able to open the app and click through tabs (Wallet, Peers, Channels and Network) but it's stuck on loading.

![screen shot 2018-01-06 at 2 50 45 am]

[2018-01-05 23:03] Empact commented on #103
@JimmyMow Looks like this is working:

<img width="1492" alt="screen shot 2018-01-05 at 14 30 00" src="https://user-images.githubusercontent.com/5470/34632304-7c2111ec-f229-11e7-84e4-3ca3f2e106df.png">

One issue I'm seeing is that clicking on the pending channel did not open the transaction in the chain explorer. I'm looking into that at the moment, could just be a local thing.

[2018-01-05 23:04] Empact commented on #95
@JimmyMow propose we close this and improve the CI over time

[2018-01-06 02:02] Empact commented on #103
Nevermind re chain explorer - it started working after I restarted my browser, which was mid-auto-update.

[2018-01-06 02:04] JimmyMow commented on #103
Cool. I also am merging an a giant update that removes channels/peers and replaces them with "contacts"

It will resolve this ticket

[2018-01-06 02:12] JimmyMow commented on #157
Can you paste your `lnd.conf`?

Also, what do your logs look like? We should do a better job of displaying errors for sure, but for now the truth lives in the logs. If you can capture the logs when trying to submit a payment that would be great

[2018-01-06 13:25] DannyJAAM opened #162 "UX Improvement: PAY checks clipboard for copied transaction requests"
If I've copied a payment request to my clipboard, when I hit the PAY button the payment request field should be pre-populated to save me pasting.

[2018-01-06 15:07] emplexity commented on #157
Thanks.
Was not able to locate much logs beyond lightdm.log in /var/log. So you will find in the gz attached:

-  the traces for lnd and zap-desktop from their respective terminal windows, generated from their respective launches till I tried to pay a starbocks invoice and after few minutes forced closed zap by hitting file close on its window menu and nicely shutdown lnd with lncli stop;

- the s

[2018-01-08 22:35] Empact commented on #162
Hey @DannyJAAM, in most web cases, payment is made easy by hosting a "lightning:" protocol link that will open Zap and pre-fill with the payment request. See the video here: https://twitter.com/ln_zap/status/949160105865633792

[2018-01-09 02:15] JukeboxRhino opened #167 "Allow custom lnd configuration"
Allowing for custom configuration would allow users to

- Listen on custom ports for p2p connections, rpc and the REST server.
- Increase the maximum number of pending incoming channels per peer
- Enable/disable autopilot to allow users to run Zap without having it open channels for them, potentially locking up funds they would prefer remain off the lightning network

There are quite a few other c

[2018-01-09 12:14] thinkjanis commented on #72
Ultimately a [snap](https://snapcraft.io/) package would be the best and simplest option because some distros will start to integrate snapd into their app stores so that it is a one-click process for the user. But I guess you have to provide almost every option anyway since most Linux folks each have their own preference and opinions about what is the best packaging solution.

[2018-01-09 13:35] probonopd commented on #72
The day snapd lands in the Red Hat default installation, I buy you a beer. Promised!

[2018-01-09 19:30] JimmyMow commented on #167
Nice, I think this would be cool. Gonna assign this to myself

[2018-01-09 19:31] JimmyMow commented on #162
Agree with @Empact here. I'm going to close this

[2018-01-09 19:31] #162 closed

[2018-01-09 19:33] JimmyMow commented on #141
Hm, Zap is not able to establish a connection to your node due to SSL errors.

Try removing the `tls.cert` and `tls.key` in your `Lnd` directory. Looks like you have bad certs

[2018-01-10 04:45] mkehlmann opened #171 "Remove "pinwheel" that shows in the amount field of the pay/request form"
Get rid of the pinwheel arrows that show next to the amount field in the pay/request form.  Seen on Windows/Ubuntu for me.  This was reported by a couple other users as well.

![pinwheel](https://user-images.githubusercontent.com/4022410/34756168-c560510e-f57d-11e7-833d-07926b5a91e1.png)

[2018-01-10 04:46] mkehlmann commented on #171
Should be an easy css fix as noted by Austin Pearce in slack.  I should have a pull request ready in a bit.

[2018-01-10 05:06] mkehlmann commented on #143
This issue may be tied to your screen width.  I see "00" get cutoff at any width below 1250 pixels or so.

I started to play around with how the width was set, but noticed issue #131, which would make the application window re-sizable.  Seems like it might be best to fix this width stuff after that change (if its going to be implemented), since that change may cause some global styling updates whe

[2018-01-10 09:45] FrimJo commented on #171
I'm on it, added a fix using [Can I hide the HTML5 number input’s spin box?](https://stackoverflow.com/a/4298216)
<img width="381" alt="skarmavbild 2018-01-10 kl 10 45 05" src="https://user-images.githubusercontent.com/4533443/34766016-61b01c72-f5f3-11e7-9679-c5939aba8113.png">

[2018-01-10 11:00] Empact commented on #119
Closing as the flow is different as of the contacts feature merge. #166

[2018-01-10 11:00] #119 closed

[2018-01-10 12:33] FrimJo commented on #143
I have a fix for dynamically set with of input field.

No cutoffs, it uses a ghost mechanism where the value written in the input field is placed in a hidden span-tag, and the width of the span is used to determine the with of the input field.

<img width="285" alt="skarmavbild 2018-01-10 kl 13 30 12" src="https://user-images.githubusercontent.com/4533443/34772993-69cd2352-f60a-11e7-909b-c40cadc56

[2018-01-10 12:58] FrimJo opened #174 "Error text for currency in PayForm is off"
The error text for the currency is off, it is ment to be to the right of the currency icon but that only works when there are many numbers entered, else the text overlaps the icon.
<img width="291" alt="skarmavbild 2018-01-10 kl 13 35 45" src="https://user-images.githubusercontent.com/4533443/34773224-376a4b00-f60b-11e7-948b-64db7aa40d53.png">

A fix is to move it to the bottom as the other error

[2018-01-10 20:34] Empact opened #177 "By default, show the peers in the Add Contact list"
Currently this space is empty, and showing the peers gives the user an easy way to open a channel with a random active/online node.

[2018-01-10 20:47] Empact opened #178 "Contacts showing with identical remote pubkeys"
I noticed a few of my contacts share the same remote_pubkey. Seems like a bug:

<img width="1502" alt="screen shot 2018-01-10 at 12 42 45" src="https://user-images.githubusercontent.com/5470/34794662-3b3d8a8c-f604-11e7-9307-10177c93fabd.png">

<img width="1500" alt="screen shot 2018-01-10 at 12 41 41" src="https://user-images.githubusercontent.com/5470/34794680-434712fc-f604-11e7-9289-7047b23791e9

[2018-01-10 20:49] Empact opened #179 "Communicate to user when max autopilot channels are open but offline"
If you have enough open channels, autopilot will not try to open new ones for you, even if all of them are offline. An option is to communicate to the user that they need to close channels in order for autopilot to do its work.

[2018-01-11 00:43] Empact commented on #143
This is because PayForm sets the sizing and width based on the length of the number, which consolidates "0." and "000" to "0". I made a partial fix here, aimed at "0.": #176

@FrimJo your approach sounds much better. :P

[2018-01-11 09:21] FrimJo commented on #143
@Empact Nice fix! I'll try get a PR up regarding dynamically changing the size of the input field.

[2018-01-11 16:08] #174 closed

[2018-01-11 20:04] mkehlmann opened #180 "Network "Loading" spinner showing on pay/request form"
Steps to reproduce:

1. Open the network tab
2. While the network is being loaded, click the "Pay" or "Request" buttons.

You will see the loading spinner even though the form modal should cover it up.

![networkspinneronpayform](https://user-images.githubusercontent.com/4022410/34844799-86f65cec-f6c7-11e7-9f8f-25a1ff836ce1.png)

[2018-01-11 22:34] JukeboxRhino opened #181 "[Feature] Offer to open channel to user when no route can be found"
Occasionally, a user will paste or enter a payment request and a route will be unable to be established for the payment. If possible, through the use of `getinfo`, if the node's IP and port can be discovered, then a channel can be offered to be opened.

[2018-01-11 22:37] JimmyMow commented on #143
that would be great @FrimJo

[2018-01-12 02:53] #171 closed

[2018-01-12 02:59] JimmyMow commented on #131
fixed #182

[2018-01-12 02:59] #131 closed

[2018-01-12 03:52] JimmyMow commented on #180
fixed in #183

[2018-01-12 03:52] #180 closed

[2018-01-12 04:19] JimmyMow commented on #177
fixed in #184

[2018-01-12 04:19] #177 closed

[2018-01-12 05:41] #103 closed

[2018-01-12 05:41] #81 closed

[2018-01-12 05:41] JimmyMow commented on #95
@Empact agree. closing

[2018-01-12 05:41] #95 closed

[2018-01-12 05:43] JimmyMow commented on #133
Closing this as the new contacts feature seems to address this

[2018-01-12 05:43] #133 closed

[2018-01-12 09:19] mariodian commented on #141
Thanks, removing tls.cert and tls.key helped. However, I have to run lnd separately (which is not a big deal), running it from resources/bin/darwin/ still gives me the following error:

[code]

[2018-01-12 21:28] thinkjanis commented on #72
Fair point @probonopd. Is Flatpak supported on RH?

[2018-01-13 20:05] sneurlax commented on #167
You can use Zap for Litecoin's Lightning Network by changing some parameters...  If you consider extending generic support, I know that Decred and Vertcoin are both compatible (they all ultimately use `btcd`.)

[2018-01-13 20:49] JimmyMow commented on #146
Closing this. Syncing page will be redone soon, don't want people picking up this issue and submitting PRs

[2018-01-13 20:49] #146 closed

[2018-01-13 20:58] JimmyMow commented on #167
@sneurlax other currencies would need to add LND support.

And then ultimately if they would like to have Zap production builds with all dependencies packaged in they would need neutrino support as well, which even LTC doesn't have.

I am down to support any coin though

[2018-01-13 22:14] Empact opened #189 "User should be able to unlock their wallet on startup"
Ala `lncli create` / `lncli unlock`.

[2018-01-14 22:32] waseem999 opened #191 "UI: Manual Add Contact Submit Button doesn't respond if the format is incorrect"
As a first time user this was a bit confusing to me, and I assumed my connection was broken because there was no feedback when I was trying to add a NodeID without an "@ip:port."  I'd like to add a simple error message under the form input.

[2018-01-14 23:54] JimmyMow commented on #191
Awesome. I'll assign this to you then. We can talk in slack about design details 😃

[2018-01-15 13:08] FrimJo commented on #135
Nice work, I like them. I'm up to the task of implement them. And, I have also created som alternative ones, would be cool if even more proposals dropped in, then maybe we could have a vote later on?

<img width="429" alt="skarmavbild 2018-01-15 kl 14 07 17" src="https://user-images.githubusercontent.com/4533443/34943783-69c464f0-f9fd-11e7-8eee-44ce740b680c.png">

[2018-01-16 00:57] dfattlar opened #193 "UI Bug: Dropdown menus visible over modal overlay"
Steps to reproduce:

1. Open Wallet or Contact Tab
2. Open Filter Dropdown
3. Activate Modal (Contact -> Add Contact, Wallet -> Receive Payment)
4. Observe the Filter Dropdown elements are still visible and clickable over the modal overlay and sometimes over the modal itself.

<img width="486" alt="screen shot 2018-01-15 at 4 17 56 pm" src="https://user-images.githubusercontent.com/4843270/3496668

[2018-01-16 05:42] JimmyMow commented on #193
#194

closing

[2018-01-16 05:42] #193 closed

[2018-01-17 02:47] helgabutters opened #196 "UI: Additional Input Validation on Bitcoin Amounts"
Additional input validation on bitcoin amounts should be done in the UI to prevent invalid input. Some notable examples that should not be allowed are:

- `-`
- `+`
- `e`
- multiple periods

Two pages are affected:

[RequestForm.js]( https://github.com/LN-Zap/zap-desktop/blob/master/app/components/Form/RequestForm.js)  - Input type is "text"

[PayForm.js](https://github.com/LN-Zap/zap-desktop/blob

[2018-01-17 03:15] helgabutters opened #197 "UI Wallet: Consistent Sorting"
In the wallet, the sorting of transactions in each of the sub-menus is not consistent:

- All Activity: Newest First
- LN Activity: Newest First
- LN Payments: Oldest First
- LN Invoices: Oldest First
- On-Chain Activity: Oldest First

I think newest first makes the most sense as the default sort so the bottom three in the above list would need to be changed.

[2018-01-17 09:04] helgabutters opened #199 "UI: Multiple Notifications on Contact Add"
When adding a new contact through "Contacts" > "+ Add" after successfully sending the funding transaction you get two on-chain transaction notifications instead of just one.

![twonotifications](https://user-images.githubusercontent.com/8001978/35034209-65395aa0-fb3b-11e7-9a45-cf6de8ab0bda.png)

[2018-01-17 09:40] helgabutters commented on #196
[ContactsForm.js](https://github.com/LN-Zap/zap-desktop/blob/65a71dd173c510f39cd67e25b4357c7992aa2f76/app/components/Contacts/ContactsForm.js#L196) as well

![text](https://user-images.githubusercontent.com/8001978/35035816-71a02742-fb40-11e7-9a31-f403d0248e5e.png)

[2018-01-17 10:20] helgabutters opened #200 "[Feature] BOLT #11: Add 'lightning:' and fallback 'bitcoin:' URI schemes"
[BOLT #11 - Encoding Overview](https://github.com/lightningnetwork/lightning-rfc/blob/master/11-payment-encoding.md#encoding-overview) details that the lightning invoice URI schemes should be 'lightning:' and fallback to 'bitcoin:'

These URI schemes should be added as valid in the [PayForm](https://github.com/LN-Zap/zap-desktop/blob/65a71dd173c510f39cd67e25b4357c7992aa2f76/app/components/Form/Pay

[2018-01-17 10:59] helgabutters opened #201 "Wallet Refresh for Lightning Transactions"
There is currently no way for the "Wallet" to be refreshed/automatically check for invoices that may have been paid by the underlying `lnd` server (if the payment was not initiated in the Zap UI). The example below shows that nothing is seen in the wallet after the payment in the console has been successfully sent.

![pre-walletrefresh](https://user-images.githubusercontent.com/8001978/35038741-ae

[2018-01-17 23:15] JimmyMow commented on #201
Hmm really? I'll try and reproduce this locally but it should update automatically.

[2018-01-17 23:15] JimmyMow commented on #200
Nice, will assign this to myself

[2018-01-17 23:16] JimmyMow commented on #199
Hmm, another one I have to reproduce locally. I think our overall notification system is really poor and needs to be re-thought. Let's also discuss in slack as this has a lot to do with UX/UI

[2018-01-17 23:17] JimmyMow commented on #197
Nice find. I'll assign this to myself

[2018-01-18 07:50] IljaDaderko opened #202 "Make yarn optional?"
Right now readme states that yarn is required for setup. npm got decently fast lately, I switched back to it and deleted yarn recently to keep dependencies on my machine to a minimum. Why do we need to use yarn as required in zap i.e. can't it be optional? Would ease installation for non tech people (although they probably shouldn't use it) as npm comes out of the box with nodes installer.

[2018-01-18 08:05] IljaDaderko commented on #202
I see, good concern, I hope they sort it out to use one file, would be neat.

[2018-01-18 08:05] #202 closed

[2018-01-18 21:40] willotheblessed opened #203 "Wallet hangs from terminal while trying to run "lint" - but "dev" and "test" are successful."
Tried running "test" and "dev" successfully, could not run "lint"

Terminal hangs here.

[2018-01-18 21:42] JimmyMow commented on #203
Hmmm, @Empact I am seeing this too still.

Mind changing the title of this issue to something more accurate? The `lint` hangs, the wallet is fine. You can run `npm run dev` and get up and running successfully right?

[2018-01-18 21:43] willotheblessed commented on #203
yes, I successfully ran dev

[2018-01-18 21:44] JimmyMow commented on #203
cool thanks. will look into this

[2018-01-18 23:02] Empact commented on #203
`yarn lint` is running fine for me. Likewise for `node_modules/.bin/eslint --format=node_modules/eslint-formatter-pretty .` and `node_modules/.bin/eslint .`.

@JimmyMow @willotheblessed would you try running: `yarn lint --debug`?

[2018-01-19 03:20] willotheblessed commented on #203
Ok, I tried it. Still doesn't look right. Perhaps I have missed something in the install, but I'm confused the "Dev" worked fine.
[https://justpaste.it/1fw5d](https://justpaste.it/1fw5d)

[2018-01-19 03:49] Empact commented on #203
Thanks for the output... mine looks similar but continues where yours stops:
[code]
How long does the software hang for?

[2018-01-19 03:58] willotheblessed commented on #203
Too long, I waited quite a few minutes and it didn't proceed. It does not get to the "zap-desktop/app/menu.js"

[2018-01-19 06:08] Empact commented on #203
I cloned, `yarn install`ed, and `yarn lint`ed successfully. Could you try the same:

[code]

[2018-01-19 07:46] helgabutters opened #205 "Bug: Frozen UI on lnd Unavailability"
I've identified some example scenarios where you can freeze the Zap UI. To recreate these have everything setup correctly and then at certain points you will kill the connected `lnd` daemon.

These are complete freezes and you need restart Zap.

## Scenerio 1:

- Start Zap
- Click "Pay"
- Kill `lnd`
- Insert lightning invoice into payment request field

## Scenerio 2:

- Start Zap
- Click "Contact

[2018-01-19 07:52] helgabutters opened #206 "Bug: Contacts Online Status Incorrect on lnd Unavailability"
If the "Contacts" page has been navigated to and you kill `lnd`, any online contacts will continue to show "Online" even if `lnd` is not available/timing out.

Clicking "Refresh" on the "Contacts" page or any other section of the wallet does not seem change the status.

- Start Zap
- Click "Contacts"
- Kill `lnd`
- Click "Refresh"

[2018-01-19 08:14] helgabutters opened #207 ""Endpoint read failed" Javascript Error when connection to LND is lost bug"
I think this error happens when you kill `lnd` while Zap is currently talking with `lnd`. During my testing with #205 and #206 I was killing `lnd` at different points to see the response and this error popped up on three random occasions.

### Error Log:

[code]

### Screenshot:
![uncaughtexception](https://user-images.githubusercontent.com/8001978/35138126-00756dc6-fcbb-11e7-8beb-a1653be2b6b7.png

[2018-01-19 17:44] halseth commented on #123
This should be fixed now: https://github.com/lightningnetwork/lnd/pull/573

[2018-01-19 18:52] probonopd commented on #72
I don't think Flatpak comes with RHEL 6 or 7 as part of the default installation, but I don't think it's related to the original topic of this ticket.

[2018-01-19 19:59] thinkjanis commented on #135
I took them from the existing designs. Nice work @FrimJo! You should bring this up on Slack.

[2018-01-19 20:37] Empact commented on #203
The application is not supposed to launch on `yarn lint` - it just runs the linting jobs and outputs the results to the terminal.

[2018-01-19 20:54] willotheblessed commented on #203
Well, then you can close this issue I guess. But I am still interested in buying a t-shirt off blockstream. How do I launch this Zap Wallet on mainnet and not a test dev environment?

[2018-01-20 00:25] Empact commented on #203
I recommend you wait until we have a release packaged. It's quite early for mainnet use and there's a significant risk of losing funds.

That said, if you run your own `lnd` instance, rather than rely on Zap to do so, you should be able to use the lnd settings to target mainnet.

[2018-01-20 02:21] JimmyMow commented on #203
Going to close this.

As for mainnet, Zap will wait for the general LN community and the LN developers to be ready for mainnet. It's one thing to test and demo selectively, it's another thing to encourage onboarding the general public with lots of money. You are free to configure open source code however you please but Zap will stay on testnet and encourage testnet usage until further notice

[2018-01-20 02:21] #203 closed

[2018-01-20 03:48] JimmyMow commented on #135
<img width="544" alt="screen shot 2018-01-19 at 9 46 19 pm" src="https://user-images.githubusercontent.com/4040039/35179569-6ce6410e-fd62-11e7-9c2d-57000ccf122c.png">

right now i am using this app icon on builds. i think it looks solid for now. thoughts?

[2018-01-20 09:45] FrimJo commented on #135
I think its a good icon, but I believe that a icon also should communicate the use of the application, that it some how should communicate wallet, what’s your take on that? I do like the cloud an lightning symbol though, I really get the feeling that it is “Zapping” something :)

[2018-01-21 10:35] pavoltravnik opened #210 "unable to find a path to destination"
This error occurs to me, when I try to pay in lightening channel. Am I supposed to create lightening channel first by using pubkey and connecting to specific HOST IP first or am I missing anything else?
![screen shot 2018-01-21 at 11 32 58](https://user-images.githubusercontent.com/21983609/35193153-1fa1db54-fe9f-11e7-97cb-672aafa720ce.png)

[2018-01-21 15:24] JimmyMow commented on #210
Yup. You either need a channel with the party you're trying to send to or have a mutual channel with enough liquidity to route the payment.

Going to close this as it is not an issue with the application

[2018-01-21 15:24] #210 closed

[2018-01-21 15:25] JimmyMow commented on #207
Yeah so this is unexpected behavior, if LND gets killed then Zap obviously won't work.

Curious what you'd expect to see UX wise? Right now we don't do anything, we just let LND die

[2018-01-21 16:07] thinkjanis commented on #135
For now sure, better than nothing.
Personally, I really like icons with background gradients like the App store and Discord in the screenshot. Atom editor icon as well. Could you try creating a circle icon with a frame, 2 color gradient with the variants you presented and the existing lightning cloud @FrimJo?

[2018-01-21 16:26] JimmyMow commented on #135
yeah I just went to one of the top results for "create an icon" in google search lol, didn't wanna spend too much time on it. i'm open to all suggestions, i'm sure we can come up with something cool

[2018-01-21 20:49] thinkjanis commented on #135
Jup, I think designers here are pretty talented, so won't be a big undertaking.

[2018-01-21 22:10] helgabutters commented on #207
My thought at this point would be on a timeout/unsuccessful connection, present the red error message box at the top of the UI. Simple suggestion for now on wording would be "Backend connection failed. Retrying in X sec" where X would be whatever value is currently used (or not) for the retry.

[2018-01-21 22:35] FrimJo commented on #135
@thinkjanis, definitely, I'll give it a go :)

[2018-01-22 04:44] #191 closed

[2018-01-22 11:08] Dansc opened #212 "UI bug: Copy address button not working during initial sync"

[2018-01-22 12:01] FrimJo commented on #135
![image](https://user-images.githubusercontent.com/4533443/35219814-603804d8-ff74-11e7-8fe8-bbdc743049f6.png)

[2018-01-24 20:49] Vindexus opened #219 "Bug: Network node circles cover up network stats"
![image](https://user-images.githubusercontent.com/759288/35356333-f28a836a-0104-11e8-99b8-4ff91088104b.png)

Probably just needs some z-index fixes.

[2018-01-25 22:06] Freefromchainz opened #223 "Zap yarn error"
After running yarn building Fresh Packages Gets stuck I left it for about an hour and nothing happens. Hope this is an easy fix.
![zap yarn error](https://user-images.githubusercontent.com/8317700/35414870-05d42458-01e1-11e8-9781-f0baf63720f9.PNG)

[2018-01-27 00:54] ChuckSRQ commented on #137
I disagree with having Bits as default. I personally do not like it.  Users should be given the option of which to choose.

[2018-01-27 01:59] BrunoSette opened #227 "Alias for our Contacts"
I suggest we could create an alias for every contact we have.

It would be easier to find the contact later.

[2018-01-27 03:48] floundies opened #228 "Bug: MacOS UI missing FUND YOUR ZAP WALLET/Syncing stuck at 0%"
After downloading mac-release-v0.1.0-beta.zip and unpacking the dmg on Mac OS 10.13.2, zap application is launched from the Applications directory. However, the Zap app doesn't have the bottom black bar that says FUND YOUR ZAP WALLET that's visible in the YouTube video. The Syncing stays at 0%. Uninstalled and reinstalled to no avail. Not sure if I missed a requirement for running/installing from

[2018-01-27 04:06] d1gitalflow commented on #228
got the same problem but for windows 10.

[2018-01-27 04:08] LeeWallisUK opened #229 "Clicking a "lightning:" link opens a second Zap application rather than initiating a payment on the app already open"
## Description

Clicking a "lightning:" link opens a second Zap application rather than initiating a payment on the app already open

## Expected Behavior

Should focus the already open instance of zap and populate the payment form.

## Actual Behavior

Opens a second instance of the app.

## Possible Fix

https://electronjs.org/docs/api/app#apprequestsingleinstancelock

## Steps to Reproduce

1.

[2018-01-27 04:10] LeeWallisUK commented on #229
1. Open Zap on Windows
2. Go to yalls.org and click the "Pay to continue reading" button on an article.
3. Click "Open Zap" when the dialog box appears.

[2018-01-27 04:38] FrancisPouliot opened #230 "Problems syncing Zap after download"
I just downloaded ZAP on a laptop that's running windows 7 and I get stuck with infinite load screen after install (0%)

Possible it's not compatible?

[2018-01-27 04:41] JimmyMow commented on #230
No, should work fine. It seems from recent complaints that the traffic is overloading the nodes Zap is connecting to by default. Things are still working for me, seems to be for new users. I was not expecting this much traffic.

I will keep this open and report back after doing some digging, thanks for opening an issue 😃

[2018-01-27 05:01] PRabahy commented on #230
I'm guessing this is the same root issue, but I am stuck at 79% on the intro screen. I've been waiting at least 5 minutes.

[2018-01-27 05:13] PRabahy commented on #230
Feel free to kick me over to a different issue, but I think my 79% stuck might have been a side effect of having bitcoind running on testnet before launch zap. If that doesn't work for some reason (the ports conflict), it would be nice if zap gave an error/warning.

[2018-01-27 05:26] FrancisPouliot commented on #230
After a few hours still stuck at 0%

Is there anything I can do to help debugging?

[2018-01-27 05:32] JimmyMow commented on #230
Interesting. I just spun up Zap on a new machine and things are definitely going much slower than usual due to heavy traffic (I'm gonna spin up some more full nodes now) but I'm slowly syncing. Started 5 minutes ago, on 7%.

yeah @FrancisPouliot @PRabahy if you both can drop your LND logs in a pastebin or something that would be great. For Windows there should be a `lnd.log` file in `%LOCALAPPDATA

[2018-01-27 05:34] JimmyMow commented on #228
The "Fund your Zap wallet" was actually removed before release, sorry for the confusion with the YouTube videos.

It seems we have experienced way more traffic than we were expecting and overloaded a hard-coded node Zap is connecting to.

This issue is actually a replica of #230 so I'm going to close this and let's take the conversation over there

[2018-01-27 05:34] #228 closed

[2018-01-27 06:14] AdriaanVanNuffel commented on #230
Same issue. Zap on MacBook Air. First loading jumps to 79%, then back to zero and veeeerrry slowly starts loading further. (Btw, you can also see this in the youtube video at 1:07.)

Also I had a problem with the installation .dmg file: after dragging the Zap icon to the Applications folder, it gave errorcode "-43", "can't complete the operation because a part is missing". So I unzipped "Zap-0.1.0

[2018-01-27 11:08] JoaoPintoM commented on #230
Hello there (nice work btw)

But same issue, cannot sync, the first time it went to 35% and got stuck forever. I've retried and now it does not reach 1%.

(mcbook pro 2017)

[2018-01-27 11:43] dasilvarosa commented on #228
I'd suggest adding an annotation on the YouTube video to specify it's not included in 0.1.0.

[2018-01-27 12:53] AdriaanVanNuffel opened #231 "Same contact shown two times in the contact list"
I think I opened two channels with a contact, but it's showing two times in the "Contacts" list.
![schermafbeelding 2018-01-27 om 13 48 23](https://user-images.githubusercontent.com/35861589/35472125-72dad0fe-0369-11e8-8794-77e92ff61a81.png)

The reason I opened two channels is (I think):
 - At first Zap told me I couldn't open the channel (insufficient funds)
 - Then suddenly my wallet realized I

[2018-01-27 12:58] AdriaanVanNuffel opened #232 "(Mac) Can't install using .dmg-file"
When trying the Zap-0.1.0.dmg file, my Mac tells me "Can't complete this action, because one or more necessary parts can't be found. (Errorcode -43)"

![schermafbeelding 2018-01-27 om 13 54 58](https://user-images.githubusercontent.com/35861589/35472146-eddc07d2-0369-11e8-943b-dfbf8ba092aa.png)

So I've unzipped zap-0.1.0-mac.zip and am running the Zap application from that zip.

[2018-01-27 15:59] FrancisPouliot commented on #230
@JimmyMow can you tell me where to find them?

[2018-01-27 16:01] dasilvarosa commented on #230
%LOCALAPPDATA%\Lnd\logs\testnet3\bitcoin

[2018-01-27 16:10] JimmyMow commented on #230
For those having issues, it would be helpful to see your LND logs to confirm that the node is just overloaded, or if there is a bigger issue. If you could upload your LND logs to a pastebin or whatever you prefer that would be great. LND logs are located at:

Mac: `~/Library/Application Support/Lnd/logs/testnet3/bitcoin/lnd.log`
Windows: `%LOCALAPPDATA%\Lnd\logs\testnet3\bitcoin`
Linux: `~/.Lnd/lo

[2018-01-27 16:21] dasilvarosa opened #233 "[mac] Window disappeared after system sleep"
Installed Zap and had it syncing.

Put laptop to sleep by closing lid.

At lid reopen, the Zap window disappeared, when I tried to pull it back up through the menu bar I got an error popup (see screenshot).

Trying to pull it back up through the dock did not work either (attached GIF).

Quit the app

Restarting Zap luckily resumed the sync process.

![screen shot 2018-01-27 at 17 02 52](https://us

[2018-01-27 16:29] PRabahy commented on #230
My node is fully synced now, so I think I'm all set. Here are the last few lines from my log.

[code]

[2018-01-27 16:47] jhansen858 opened #234 "Uncaught Exception: Error: Connect Failed"
![image](https://user-images.githubusercontent.com/6914970/35474129-b7ec0300-033e-11e8-8e1e-913ce778375f.png)

[2018-01-27 16:50] jhansen858 commented on #234
I added yall's to the contacts.  waited for a block to be mined.. then tried to make a transaction.. was still saying that it couldn't find a path.  So i thought maybe i just needed more channels so I went to a different article on yalls and copied that to add that as a 2nd channel.  Turns out it was the same location again but I didn't see it until i added a second time.  as soon as the 2nd block

[2018-01-27 16:50] drunkenclam commented on #230
If you have another installation of LND or the LND app you might have to delete / rename the Lnd folder in %LOCALAPPDATA%\Lnd\logs\testnet3\bitcoin (Win 10 here)

That's what I did after getting stuck at 0%

[2018-01-27 17:02] jhansen858 commented on #234
update: i waited about 15 minutes and tried to re-launch.. now it seems to be working and showing both channels.  however I'm still unable to make a payment

[2018-01-27 17:17] bitcoinuser commented on #234
I have the same kind of problems.

[2018-01-27 17:33] copyket opened #235 "ERROR : A JavaScript error occurred in the main process"
" ERROR : A JavaScript error occurred in the main process "

I can't run in win 10.

How can fix it?

I need your help.

![20180128_023026](https://user-images.githubusercontent.com/21700676/35474602-f3a653d8-03d3-11e8-8704-bb569b57c1f9.png)

[2018-01-27 18:04] jhansen858 commented on #234
update: I waited about an hour, came back and retried it again.. payment was successful this time. YAY.  Not sure what changed I didn't do anything differently.

[2018-01-27 18:38] My2Centrist commented on #234
Have this error within 2 or 3 minutes of opening the program, every time. If I switch to  wallet screen after the error the lightning logo just gets stuck repeating over and over.

[2018-01-27 18:38] TomasHo opened #236 "Error: A JavaScript error occurred in the main process"
Uncaught Exception:
Error: Connect Failed
    at ClientReadableStream._emitStatusIfDone (/Applications/Zap.app/Contents/Resources/app.asar/node_modules/grpc/src/client.js:255:19)
    at ClientReadableStream._readsDone (/Applications/Zap.app/Contents/Resources/app.asar/node_modules/grpc/src/client.js:221:8)
    at readCallback (/Applications/Zap.app/Contents/Resources/app.asar/node_modules/grpc/src

[2018-01-27 18:39] TomasHo commented on #236
Happy to provide more info if needed.

[2018-01-27 18:47] dexX7 commented on #230
Does Zap only synchronize headers or the whole chain?

[2018-01-27 19:30] drunkenclam commented on #230
Headers only, but it takes longer than a Core full IBD currently... :(

I'm at 40% after 4 hours.

[2018-01-27 21:02] AdriaanVanNuffel commented on #230
For me it took about 2 hours to synchronize, but it worked in the end.

Here's the log file (10 MB).

[lnd.log](https://github.com/LN-Zap/zap-desktop/files/1670520/lnd.log)

[2018-01-27 21:03] thinkjanis opened #237 "Enhancement: Put multible installation files in future releases instead of 1 zip file for each OS"
Instead of having one archive file for each OS with duplicate installers, separate installers depending on the type.
[code]

[2018-01-27 21:28] 1hiro commented on #236
I get this javascript error on startup.

Uncaught Exception:
Error: Endpoint read failed
    at ClientReadableStream._emitStatusIfDone (/Applications/Zap.app/Contents/Resources/app.asar/node_modules/grpc/src/client.js:255:19)
    at ClientReadableStream._receiveStatus (/Applications/Zap.app/Contents/Resources/app.asar/node_modules/grpc/src/client.js:233:8)
    at /Applications/Zap.app/Contents/Res

[2018-01-27 21:36] 1hiro commented on #234
Similar experience here too.   Following error on startup and then the animation of the logo plays on forever.  Before this started happening after a restart, my wallet was failing to show the balance of bitcoins not in channels and it thought I could not set up another channel because it thought I had zero bitcoins when in fact I had about 1.7 tBTC.  Here's the error I get at startup:

Uncaught E

[2018-01-27 21:47] thinkjanis opened #238 "Bug: Zap shows wallet view after exiting the app with initial sync unfinished"
Launching it the second time doesn't show sync view again.

[2018-01-27 21:54] JimmyMow commented on #234
This error is because `grpc` was not successful in establishing a connection with your `lnd` node. It seems that if you shut down Zap it takes LND a sec to fully shut down, so then restarting too quickly  is becoming an issue maybe. I will look into this, but for the time being, after you completely shut down zap, if you give wait 30 seconds to a minute or so and re-open do you still get the same

[2018-01-27 21:55] JimmyMow commented on #235
this is a duplicate of #236, let's take the discussion there

[2018-01-27 21:55] #235 closed

[2018-01-27 21:56] JimmyMow commented on #233
hmmm interesting, I'll try and reproduce this.

If you quit the application and re-open is Zap able to start?

[2018-01-27 22:18] AdriaanVanNuffel opened #239 "Shoot, we're having troubles sending your payment"
So far I haven't been able to do any payments, neither to Yalls or to Starblocks. To Yalls I have an open channel, which is found by the Network explorer. There Zap gives me "Shoot, we're having problems sending your payment".

I think I also have an open channel to Starblocks but Zap doesn't find a route for payment.

![schermafbeelding 2018-01-27 om 23 15 10](https://user-images.githubuserconten

[2018-01-27 22:22] AdriaanVanNuffel commented on #233
I got the same issue (MacBook Air), even when I simply close the window it's impossible to get it back. The application is still running though, because the Mac menu bar at the top of the screen shows.

When I choose "Toggle full screen" I get this error:

![schermafbeelding 2018-01-27 om 23 20 37](https://user-images.githubusercontent.com/35861589/35476905-f9db6a1a-03b8-11e8-8c97-f5ad383e451e.png

[2018-01-27 22:45] Gribor opened #240 "Funding ZAP from faucet and GUI difference from youtube video tutorials"
Hi.
First of all, great work man, i hope that you keep working to make ligthning network a reality.

Zap Wallet running in windows 10 doesn't update the btcs sent from faucet. Problem with the server?

i sent two times bitcoins from faucet and the tx does not appear in the wallet.
maybe the problem is my pc?

another thing is that the gui is different of the interface you show in the tutorials vid

[2018-01-27 22:50] jhansen858 commented on #234
I just shut down for 10+ minutes and it seems to clear up.  After 1 minute,
seems to still be stuck for me.

On Sat, Jan 27, 2018 at 1:54 PM, JimmyMow <notifications@github.com> wrote:

--

Jake Hansen
President | ZTelco
858-431-4411 Direct
858-565-2155 Office

[2018-01-27 22:54] jhansen858 commented on #234
something that might be related, the lnd using a ton of processor, maybe
causing some issues.

[image: Inline image 1]

On Sat, Jan 27, 2018 at 2:50 PM, Jake Hansen <jhansen@ztelco.com> wrote:

--

Jake Hansen
President | ZTelco
858-431-4411 Direct
858-565-2155 Office

[2018-01-27 23:39] peter1008 commented on #238
I had the same problem...but tried it a third time and am now back to the syncing view.

But....no funding option at the bottom of the window. Also, sync is taking a lot longer than Jack estimated. Maybe because of the rapid growth of the network?

[2018-01-27 23:48] thinkjanis commented on #238
Yes, there will be a fix soon @peter1008

[2018-01-28 00:49] JimmyMow commented on #240
It takes 1 confirmation to have the on-chain transactions show up in your wallet. The funding address in the sync page actually got removed before release, sorry about the confusion.

Things seem to actually be working, no bug here. I'm going to close this

[2018-01-28 00:49] #240 closed

[2018-01-28 00:58] JimmyMow commented on #236
@1hiro @TomasHo this is a duplicate of #234

let's take this discussion over there. I gave a potential hack-fix for the time being

[2018-01-28 00:58] #236 closed

[2018-01-28 01:00] silver-moose opened #241 "[Feature]: Allow nodes to UpdateFees"
It will be nice if we could able to set fee (0.000001) by transaction to use my node and connect as many nodes together.
Thanks :-)

[2018-01-28 01:01] JimmyMow commented on #230
@drunkenclam it takes 5-10 minutes with a normal connection. The full node serving the headers now is managing over 220 connections atm, that's why. I am spinning up some more nodes and will send out an updated release soon.

Good to hear some of you got synced. Anyone else still having issues?

[2018-01-28 01:03] JimmyMow commented on #241
Currently you can not do this within' Zap. If you want to set this in the meantime you can install `lnd` and `lncli` and set it manually at the command line.

I will add this to potential features

[2018-01-28 01:07] JimmyMow commented on #233
Ok, glad you were able to get the app running again. I'll fix this for the next release

[2018-01-28 01:30] JimmyMow opened #242 "[bug]: on-chain transaction filter in wallet sorts oldest transactions first"

[2018-01-28 03:16] mattbourke opened #243 "Initial sync could have better UX"
I think this line https://github.com/LN-Zap/zap-desktop/blob/998722cf7b6fc2a4393face510f3aa7b664da9d3/app/components/LndSyncing/LndSyncing.js#L15  could be more user friendly, it could be appended to include something like "The initial setup may take up to x time to sync your Lightning Network node to the Blockchain"

Although there is a % counter in the top right that when moused over explains th

[2018-01-28 03:41] BolachaICMC opened #244 "Wallet loading never ends"
After I sent some testnet bitcoins the wallet section shows a loading icon forever

[2018-01-28 04:11] chippsmith opened #245 "Zap app and lightning labs app show same testnet btc and transaction history"
I downloaded the lightning labs app a few weeks ago and played around with some testnet btc.  When I downloaded the zap app today all the channels and transaction history from the lightning app showed up on the zap app.

[2018-01-28 05:37] #244 closed

[2018-01-28 06:15] TripKey commented on #230
I have the same issue but when i look at what is in my HOME directory i see no .Lnd, I have other versions of lightning already running (.lnd is there) so wondering if that may be the conflict? I am running ubuntu and stuck at 79%

[2018-01-28 07:10] mattbourke commented on #245
@chippsmith (I'm not a Zap dev, but just looking through these tickets)
I'd assume this is because they're using the same lightning node account, I doubt it's a bug, but I'm sure a dev will chime in

[2018-01-28 12:10] PlanBit commented on #239
Same issues. 4 channels open but can't make any payments.

[2018-01-28 12:29] bitcoinuser commented on #239
Same here. I have open channel with yalls and when i try to make a payment I see this message: Shoot, we're having troubles sending your payment.

I can't make any payment.

[2018-01-28 12:39] PlanBit opened #246 "JavaScript error occurred in the main process"
JavaScript error launching Zap.
Can't open it anymore.

![prtscr](https://user-images.githubusercontent.com/35891662/35482099-5ebcfb84-0430-11e8-845d-d30affe4d6d3.JPG)

[2018-01-28 12:39] larspohlmann opened #247 "When I close Zap and start it again, I get following Javascript error"
Uncaught Exception:
Error: Connect Failed
    at ClientReadableStream._emitStatusIfDone (/Applications/Zap.app/Contents/Resources/app.asar/node_modules/grpc/src/client.js:255:19)
    at ClientReadableStream._readsDone (/Applications/Zap.app/Contents/Resources/app.asar/node_modules/grpc/src/client.js:221:8)
    at readCallback (/Applications/Zap.app/Contents/Resources/app.asar/node_modules/grpc/src

[2018-01-28 12:45] PlanBit commented on #247
Same. Than restarted the pc and everything was fine.

[2018-01-28 12:45] PlanBit commented on #246
Restarted the PC and everything was fine.

[2018-01-28 12:47] calkob opened #248 "Had to restart Zap to get my balance to show up."
Hi i sent 1tBTC to my Zap wallet and after a 3 confs the balance still did not show.  I had to restart in order for the balance to show.

[2018-01-28 12:52] dasilvarosa opened #249 "[mac] Error: mainWindow is not defined"
Zap is synchronized and no channel is yet open (1 pending).

When clicking on a payment request URI I get the following error:

Then a second Zap window opens.

![uri-error](https://user-images.githubusercontent.com/712580/35482244-71b6828a-0432-11e8-820c-83119514f581.gif)

[2018-01-28 13:11] dasilvarosa commented on #249
To be precise: the channel is now opened but the behaviour remains the same.

[2018-01-28 13:24] bitcoinuser opened #250 "UX Suggestion: Filters for transactions"
Hi, I really like ZAP design. So I would like to give a suggestion of how I would like to see filters for transactions be implemented.

1- Now Zap has a dropdown menu with five options: All Activity, Ln Activity, Ln Payments, Ln Invoices, On-Chain Activity.

2- I think should have only three options: All Activity, Ln Activity and On-Chain Activity.

3- I think should have buttons like this image.

[2018-01-28 13:36] lucaszanella commented on #250
Yes, for people that do a lot of invoices, would be great to monitor the ones pending

[2018-01-28 13:49] larspohlmann commented on #239
Same problem. I have 6 open channels (4 online). A pretty large network with 461 nodes. But no payment has been successful so far (yarn or starblocks).

I always get following error: "unable to find a path to destination".

It should be able for at least a few receipients...

[2018-01-28 14:41] slack333 commented on #249
![captura de pantalla 2018-01-28 a la s 11 34 39](https://user-images.githubusercontent.com/25033440/35483357-a3be0fae-041f-11e8-8b84-092c7fd517ac.png)

I have the same issue when I open the app. Yesterday worked so well and today I close it and open again with this problem.

[2018-01-28 15:57] Pearse500 commented on #247
Same and good to know a restart gets it back. was uninstalling and reinstalling to get back to working.

[2018-01-28 16:59] bitgosh commented on #139
Should also appear in the wallet header as pending
-> right now the btc amount used to open a channel is deducted from your total (it should still be part of the total) and doesn't show up as either  btc available or btc in channels. It think the header needs a new row, something like:
_0.0997 pending_
Also, the **available btc** line in the header drops to 0.0 while a transfer is pending (screens

[2018-01-28 17:27] bitgosh opened #251 "error: dial tcp 45.77.115.33:9735: getsockopt: network is unreachable"
got this error several times trying to open a channel to a node I found on the acinq explorer:

![screen shot 2018-01-28 at 6 05 17 pm](https://user-images.githubusercontent.com/35896605/35484977-370d790c-0461-11e8-8967-7ab2100f0488.png)

[2018-01-28 17:42] bitgosh opened #252 "Needs a warning / notification before allowing you to open a double channel"
When opening a new channel, the app should check the peer or alias of the new node against the list of nodes you already have opened channels with and notify you before opening a double channel (idiot-proof is good, right?)

Also maybe check if the channel is still funded -> so the notification window can remind the user of the funds they already have available in that channel or alternatively, ch

[2018-01-28 17:44] #251 closed

[2018-01-28 17:50] JimmyMow commented on #245
Yep, this is not a bug. Zap is just a simple UI layer on top of LND, this is intentional, at least for the time being.

[2018-01-28 17:50] #245 closed

[2018-01-28 17:50] coolpick opened #253 "Info pages during setup too high on screen"
Looks like it just needs to be dragged down a bit, but the dots you use to change pages is stuck in the middle.

I should also note the application defaults in Windows 10 to that vertical "mobile" sized screen.  Could be my computer, or it could be the code.  Not too familiar with default window sizing in applications.

When moving to full screen, the dots stay in the same place, but the text is m

[2018-01-28 18:11] coolpick opened #254 "Error on startup "JavaScript error occurred in the main process""
Started up the first time without a problem.  I attempted to let Chrome open a lightning address with Zap, but it opened a second instance.  This error showed.  When I re-launched both to re-test, I started getting this error.  After dismissing error, lightning fails to connect to anything, is indefinitely loading.

Before the error:
- Attempted to open lightning url via chrome
- Second instance w

[2018-01-28 19:58] thinkjanis opened #255 "UI bug: Fix video links in help section"
When playing the YouTube video from Zap, on-hover the link blocks you from putting it into full-screen.

[2018-01-28 20:01] thinkjanis commented on #137
No one will force you to use it @ChuckSRQ. The idea is to have multiple options and Bits by default will be beneficial for various reasons explained above.

[2018-01-28 20:05] thinkjanis commented on #139
That seems like an LND bug @bitgosh. I experience the same.

The pending channel suggestion should be discussed on Slack in #desktop-design.

[2018-01-28 22:26] silver-moose opened #256 "Feature = show history under ZAP"
Will be nice to have a history, expose IND, under TAB under ZAP

[2018-01-29 01:11] CryptoChronicus commented on #230
Same thing. Ran windows installer, it opened Zap, stays stuck at 0% for ever. hours and hours. tried uninstalling, reinstalling, closing, opening in various orders.

Log:
https://drive.google.com/file/d/1y0ASh_0iF66OhzmipxQHtcKjcOre54x7/view?usp=sharing

Windows 10 Pro, fully updated. i deleted all other lnd-related anything and still not working.

ideas?

[2018-01-29 03:25] floundies commented on #230
I deleted ~/Library/Application Support/Lnd/ (and /Lightning) and reinstalled and the sync moves off of 0%. Thanks @drunkenclam for the suggestion.

[2018-01-29 04:14] royalgarter commented on #230
(Win 10) I deleted the Lnd folder (installed by Lightning App before) as @drunkenclam suggestion and it worked.

[2018-01-29 05:36] floundies commented on #239
Same issue.  MacOS. Can't seem to make any payments either, even with two channels open.  The network graph shows the route to the node I am trying to pay (yalls.org article). But when actually paying the payment request, I get the same error.

<img width="1435" alt="screen shot 2018-01-29 at 12 35 16 am" src="https://user-images.githubusercontent.com/3433553/35494995-80cd12f2-048c-11e8-85c2-b7dd5

[2018-01-29 07:58] CryptoChronicus commented on #230
+1 I searched my entire computer for anything with "lnd" or "bitcoind" and just deleted anything, then reinstalled. synced slow, but now up to date. It shows my ablance and is synced apparently. Now different issue. Ill post about it in the appropriate "issue"

[2018-01-29 08:04] CryptoChronicus commented on #229
I can confirm, Starblocks does the same for me. I click "OPEN WITH YOUR WALLET" and it opens a 2nd instance of Zap, and does nothing, it doesnt even open the invoice so that I can pay for the coffee.

copying the payment request and attempting to pay it says it cannot find a route. I have 3 channels. I will wait and try more

[2018-01-29 09:16] lra opened #257 "Contacts still in "Removing" state after 100+ confirmations"
See:
![screen shot 2018-01-29 at 1 14 49 am](https://user-images.githubusercontent.com/122286/35502421-d3ae4e00-0491-11e8-8424-7c6fc0a5f800.png)

- 1st one: https://testnet.smartbit.com.au/tx/e4c4cf5ea9cc11fd84c7b0bfc59ca11326b11696f4f5547637433ddf5b333e66
- 2nd one: https://testnet.smartbit.com.au/tx/9eeece0c1cfd9cd24212608e6c159af9a4bbf4a766c197a00e27743e4e568f19

163 confirmations each, both st

[2018-01-29 09:37] mntetai opened #258 "Error when zap application is closed"
![image](https://user-images.githubusercontent.com/1884392/35503394-ac6a37d0-04e8-11e8-8022-faf5ab6cad13.png)

[2018-01-29 13:04] bitcoinuser commented on #250
I like this format of button:

![botao](https://user-images.githubusercontent.com/1178856/35511703-20e76024-04e4-11e8-9366-2d5e9cf21e38.jpg)

[2018-01-29 15:17] kondev85 opened #259 "Adding USD price equivalent"
In Request page, you can add what is the equivalent USD of the amount you request in BTC. In that way, when you are requesting funds, you are double checking if you are not making mistake and feel more secure. Such design have Nano ledger wallet and it is quite easy to use.

-Also adding USD equivalent will be very beneficiary when you compare by the time of requesting how much was worth btc when

[2018-01-29 16:30] bitgosh opened #260 "Channel closure not represented in Zap, despite closing transaction confirmed"
I closed a channel about 20 hours ago, the transaction has 180 confirmations, but the contacts tab still shows the channel as pending - _removing_ is written in red. Also, the locked funds have not become available again.
Tx link: https://testnet.smartbit.com.au/tx/a601f1f7230018588c3ca632c7a1cca1a94553d55829fccf81894483e2ff166d

Tx hash: 82fabe4870d15a86012c87f316f9c46d4c04fe4f02be5965ba2d09ce7ff

[2018-01-29 17:24] curiosity81 opened #261 "unable to find a path to destination"
Hi,

I am playing around with Zap. However, I cannot make any payment. I always get the "unable to find a path to destination" error even though I am directly connected to a Y'alls node.

Moreover, the GUI (Linux) always keeps the input. That is, e.g., if one has copied an URI into some field, reopening the window with the field keeps the URI. So one always has to remove the string in the field.

[2018-01-29 21:07] coever99 opened #262 "Error: invoice expired. Valid until..."
No matter what I'm trying to pay, whether it is to my htlc.me wallet or yalls articles I always get the error "Error: invoice expired. Valid until..." Valid until is always the exact time I created the payment address.

[2018-01-29 21:50] CryptoChronicus opened #263 "Cannot right-click to paste Payment Shortcut, must CTRL+V"
I am running Windows 10 Pro, and I am unable to paste the Payment Invoice url/shortcut into place, I have to use CTRL+V. RIght-clicking the appropriate place does nothing.
![screenshot_4](https://user-images.githubusercontent.com/34789878/35536289-12657324-050c-11e8-8bd4-1d7a037ae832.png)

[2018-01-29 22:16] bitcoinuser commented on #250
When we close a channel, I think the pending refund transaction should appear on transaction list. So I think it should exist a refund button on fillter too.

[2018-01-29 23:05] CryptoChronicus commented on #261
I am also unable to find a path to the destination, even though I copied the Peer Info and am connected to the same Node apparently
![unable to find a path to destination](https://user-images.githubusercontent.com/34789878/35539284-915239e2-0516-11e8-8a52-f2cbf7420be4.png)

[2018-01-30 00:09] CryptoChronicus commented on #262
check your system clock maybe? I think that they're only good for 15 minutes from time of creation, so there is a mixup somewhere

[2018-01-30 13:54] odb366 commented on #250
I think this is a great proposition to ditch the dropdown component and replace it with buttons (or the so called [radio groups](https://www.lukew.com/ff/entry.asp?1950)). Here's my pros/cons of both:

**Dropdown advantages:**
- saves screen space (we're not limited in space)
- can support huge list of options (we have 5 options at most)

**Dropdown disadvantages:**
- hides all possible options so

[2018-01-30 15:00] MilosoBit commented on #263
Same issue with Ubuntu 16.04.

[2018-01-30 15:06] bitcoinuser commented on #250
Hi @odb366, thanks for the post.

1- Forget about the idea os refund button as I wrote here: https://github.com/LN-Zap/zap-desktop/issues/250#issuecomment-361405867
I think if we have a pending refunding, we can filter this clicking on pending button. I just think that transactions that is used to fund a channel or that is received from close channel, should have the icon on left explaining it. (T

[2018-01-30 16:08] odb366 commented on #250
Hi @bitcoinuser

No need for the dropdown because the onchain transactions should be in one of the 5 buttons.

[2018-01-30 16:29] coever99 commented on #262
Yeah, there's something wrong with the automatic system clock setting in Windows 10, manually setting the time fixed the issue. However, not sure if it's a good idea to rely on the system clock

[2018-01-30 16:39] coever99 commented on #261
Same problem with Yalls even though I am connected directly to Yalls. However, I have no problems sending payment to or receiving from htlc.me. This is strange since the connection to Yalls is my only connection.

[2018-01-30 17:33] curiosity81 commented on #261
It is still not working. I connected to

031dc566ea7e71531edba5929e11de824bf4bfd2062f840499223398a56644e5e2@52.3.235.238

today. But still no path to destination.

However, it worked at the beginning, two days ago.

[2018-01-30 20:39] JimmyMow commented on #256
what do you mean by this?  not sure i understand

[2018-01-30 20:40] JimmyMow commented on #255
Going to close this. Help section will be removed in the next release

[2018-01-30 20:40] #255 closed

[2018-01-30 20:45] JimmyMow commented on #239
it takes 6 confs for channels to be announced to the network, so it's possible you had an active channel that hadn't been announced yet.

Were you all able to eventually send payments? This is a normal error. The UX will be improved (better errors) but I wouldn't classify this as a bug, more poor UX which is being there is already a todo for, so I'm going to close thise.

[2018-01-30 20:45] #239 closed

[2018-01-30 20:45] silver-moose commented on #256
Ability to view the trace, block id, etc. ZAP could replicate IND info under a TAB and add ZAP's transactions.
...BTW, great job. Love it

------------ as example
 lnd: 2018-01-24 14:37:38.570 [INF] RPCS: [listchannels] fetched 0 channels from DB
 lnd: 2018-01-24 14:37:58.638 [INF] RPCS: [listchannels] fetched 0 channels from DB
 lnd: 2018-01-24 14:38:18.600 [INF] RPCS: [listchannels] fetched 0 ch

[2018-01-30 21:04] CryptoChronicus opened #265 "UI overall window default dimensions is very tall & narrow"
just look at the the screenshot. Every time I open a new instance of ln-zap it looks like that.

![screenshot_2](https://user-images.githubusercontent.com/34789878/35591106-79d0d928-05ce-11e8-8099-2a14d6331b69.png)

Once I move the window any amount at all, it snaps to a less-tall&narrow... more square, normal-looking window
![screenshot_3](https://user-images.githubusercontent.com/34789878/355911

[2018-01-30 21:24] CryptoChronicus commented on #261
## Thus far, for me, it says "Unable to find a path to destination" every single time. I have never successfully sent a LN payment on testnet.

also, about this:
"Moreover, the GUI (Linux) always keeps the input. That is, e.g., if one has copied an URI into some field, reopening the window with the field keeps the URI. So one always has to remove the string in the field. There should be a "clear"

[2018-01-30 21:30] CryptoChronicus opened #266 "PAY window BTC amount text box needs more room. Some clipping occuring."
can't see the whole amount

![screenshot_5](https://user-images.githubusercontent.com/34789878/35592356-593ee99e-05d2-11e8-8134-c0b85aaf4929.png)

Maybe make the text box bigger, and the font smaller? See if it still clips off some of the amount?

[2018-01-30 21:30] bitcoinuser commented on #134
Hi,

I don't know if it's the same issue. When I click on request, add the amount and click request again, I see this popup:

![captura de tela de 2018-01-30 19-13-25](https://user-images.githubusercontent.com/1178856/35592252-8f0b0b90-05f3-11e8-85c0-a0e40fd56942.png)

My question/suggestion is: Why do not show the Qrcode... on the same kind of window  of the request window? And if Paid, should sh

[2018-01-30 21:42] bitcoinuser opened #267 "Transaction popup window should be large like pay or request window."
Hi,

I think the transaction popup window, like this one:

![captura de tela de 2018-01-30 19-13-25](https://user-images.githubusercontent.com/1178856/35592874-7d335ef2-05f5-11e8-9b6c-56a1a607f456.png)

Should be large like Pay or Request window, but, of course, with transaction information.

![captura de tela de 2018-01-30 19-12-56](https://user-images.githubusercontent.com/1178856/35592893-8e1cb

[2018-01-30 21:42] CryptoChronicus commented on #262
I typically just set the clock myself, especially on laptops. they can get weird. Particularly for programmers.

[2018-01-30 21:44] CryptoChronicus commented on #263
Milo, can you still paste using CTRL+V (GUI) or SHIFT+CTRL+V (in command line) and get it to paste the URI into place?

[2018-01-30 21:45] CryptoChronicus commented on #262
Honestly we should all just start using UTC, everything would be so much easier.

[2018-01-31 13:12] bitgosh commented on #257
Same issue here, 718 confirmations thus far and the channel is till marked with "removing", the locked funds have not been made available:

tx:

https://testnet.smartbit.com.au/tx/a601f1f7230018588c3ca632c7a1cca1a94553d55829fccf81894483e2ff166d

screenshot:

![screen shot 2018-01-31 at 3 12 19 pm](https://user-images.githubusercontent.com/35896605/35624932-2a65319c-0699-11e8-80a4-acac6cd79aaf.png)

[2018-01-31 14:39] thinkjanis commented on #134
@bitcoinuser this is a "Pay view" memo feature. You are talking about "Request view" where that behavior is normal. Zap already has a "payment sent" message after doing a payment to someone else.

[2018-01-31 16:09] crive69 opened #268 "[Win 10 pro] issue on installation"
On installing the windows version (win-release-v0.1.0-beta.zip by using 'zap Setup 0.1.0.exe') i got this issue. After this issue the program is trieing to open and load zapp, but without success (it keeps stuck at 'loading')

this is the popup message:

A javascript error occured in the main process

uncaught exception:
Error: 'wmic' is not recognized as an internal or external command,
operable

[2018-01-31 21:21] Ceratodontiformes commented on #254
Same error here. Also Win (7).
- Trying to set up channel.
- Zap becomes "slow"
- Close Zap
- Open Zap -> Error
- open/close/open/close -> always error
- reboot -> still error

- after several minutes -> reopened -> error gone.

// thx for the awsome project

[2018-01-31 22:35] ericomurtez commented on #243
Agree the UX could be improved here.

Setting expectation is important since it takes a long time. Also did not see the loading spinner immediately as it is so dark, so I had no idea what was going on for a little while.

[2018-01-31 22:51] ericomurtez opened #271 "Closing channel UX"
I think the 'Remove' contact button is not a good UX.

I don't think it is clear to a user that this means closing a channel, and there is nothing to indicate that will happen once the button is pressed. Remove could possible be replaced with 'Close Channel'?

<img width="1027" alt="screen shot 2018-01-31 at 14 47 53" src="https://user-images.githubusercontent.com/15639427/35651887-27a498f6-0696-1

[2018-01-31 23:18] ericomurtez opened #272 "Opening a channel UX"
The amount in BTC you put into a channel is pretty important.

I think it needs more prominence than what looks like a footnote at the end of the window. I also found it was not obvious that the figure was editable when I did notice it.

The tooltip almost looked it was was question mark.

<img width="597" alt="screen shot 2018-01-31 at 14 59 11" src="https://user-images.githubusercontent.com/1563

[2018-01-31 23:56] CryptoChronicus commented on #257
same here
243 confirmations
Still says Removing

https://testnet.smartbit.com.au/tx/c99f2bca7ea0833a2974b164d5e9eea3fbe263cd9d1889cf4841a3eaa022772e

[2018-02-01 00:12] CryptoChronicus commented on #261
Try it now. Got it working for me :)
![screenshot_7](https://user-images.githubusercontent.com/34789878/35654340-3d950134-06b2-11e8-9aa8-a9e379f15896.png)

[2018-02-01 01:31] CryptoChronicus commented on #243
I agree, maybe do a smaller box with just a status on the percent complete? Much the same way a lot of apps like Photoshop etc will do a splash loading status screen while you wait. I think that may set the expectation a little more conservatively for a few impatient users :)

[2018-02-01 07:29] MilosoBit commented on #263
Forgot to write it down, but yes, copy/paste is fine, it’s the same issue you described.

[2018-02-01 17:52] JimmyMow commented on #268
weird, is `wmic` not in your PATH?

[2018-02-01 17:55] JimmyMow commented on #261
This is a normal error. Just means your node is unable to find a route. The UX/error handling can be better but this is not a bug. Closing

[2018-02-01 17:55] #261 closed

[2018-02-01 17:55] JimmyMow commented on #263
fixed in #270

[2018-02-01 17:55] #263 closed

[2018-02-01 23:07] KurtPfeifle commented on #72
@thinkjanis wrote:

If this is your opinion, then maybe you should create create a separate issue for this? And maybe not try to hijack another issue?

I myself struggled with snap for quite a while before I could get the framework installed on a non-Ubuntu system and the first snap package running. I started to look at snap *before* I even heard the first time of AppImage. And I got my first snap

[2018-02-02 00:13] CryptoChronicus opened #277 "Javascript Error - Uncaught Exception: Endpoint read failed.png"
just installed new release v0.1.1 beta and got this on first startup
![javascript error - uncaught exception- endpoint read failed](https://user-images.githubusercontent.com/34789878/35710173-a6952aaa-077b-11e8-98db-1fff1445d132.png)

[2018-02-02 00:19] CryptoChronicus commented on #277
channels are all gone now, and cant connect
![screenshot_1](https://user-images.githubusercontent.com/34789878/35710339-7be99bc8-077c-11e8-83b7-f9a7b9732604.png)

[2018-02-02 03:23] AdriaanVanNuffel commented on #239
No, I'm still not able to do payments. I'm either getting "No route found", or the "Shoot, we're having touble!". Could this be some security setting?

Also, when running Zap, my MacBook's ventilation really starts to whir louder & louder - looks like it's doing a lot of work there.

[2018-02-02 16:45] jtayrone commented on #268
I believe this is related to LND if you have it installed on your computer. To troubleshoot remove LND or run first then run ZAP.

[2018-02-02 16:49] jtayrone commented on #277
I believe this is related to LND if you have it installed on your computer. To troubleshoot remove LND or run first then run ZAP. My suggestion is to remove the LND files in `C:\Users\username\AppData\Local\Lnd` then I tried to install ZAP.

[2018-02-02 17:41] sairion commented on #150
It is not working again.

[2018-02-02 18:37] lra opened #278 "0.1.1 on MacOS shows 0.1.0"
Downloaded from https://github.com/LN-Zap/zap-desktop/releases/download/v0.1.1-beta/zap-mac-release-v0.1.1-beta.zip

It shows 0.1.0 everywhere:
![screen shot 2018-02-02 at 10 36 39 am](https://user-images.githubusercontent.com/122286/35749029-03fdf31e-0805-11e8-898c-b53f7b375d6f.png)
![screen shot 2018-02-02 at 10 36 54 am](https://user-images.githubusercontent.com/122286/35749030-04175890-0805-11

[2018-02-02 19:45] silver-moose commented on #277
Have the same issue after I installed release 1.1 beta. Everything was working very well before with release 1.0

[2018-02-02 21:14] rhinoted commented on #261
I have the same problem: Channel opened with yalls but when I pay I get "unable to find a path to destination".

I succeeded making this just the firs day of testing.. then not anymore..

[2018-02-02 23:20] thinkjanis commented on #237
@JimmyMow release the next version (v0.1.2-beta) by not bundling all duplicate package types into one, so I can close this issue.

[2018-02-02 23:21] CryptoChronicus commented on #272
Agreed, I had assumed that for now it was not editable.
Maybe it would be a good idea to make that more obvious.

[2018-02-03 04:56] iaron commented on #261
I'm also getting this error when trying to pay to read an Yalls article. I read that this was a temporary network error, but and I've been trying this for a couple days and never worked for me.

Windows 8.1 Pro

![image](https://user-images.githubusercontent.com/4040172/35763167-177f55bc-088d-11e8-8620-001181088987.png)
--
![image](https://user-images.githubusercontent.com/4040172/35763171-23bebec

[2018-02-03 20:39] nopara73 opened #279 "Slack invite link is outdated"
In the readme:  "Join us on slack to discuss development, design and product."

You get an error: "This invite link is no longer active."

[2018-02-04 00:57] JimmyMow commented on #279
ah, sorry about that. fixed

[2018-02-04 00:57] #279 closed

[2018-02-04 06:52] lepipele opened #281 "Outdated `lnd` linked in README"
Just wasted few hours on this... README links to: https://github.com/lightninglabs/lightning-app/tree/master/apps/desktop/bin ... I was getting `lnd shutting down 1` error.

And latest codebase requires updated `lnd` -> https://github.com/LN-Zap/zap-desktop/releases

Reference: https://zaphq.slack.com/archives/C6P5UNJMV/p1517725708000035

I've created pull request that deals with this and includes

[2018-02-04 14:02] DataCourier commented on #279
Website slack link still outdated, it says "This invite link is no longer active.".
Reproduce using anonymous window, when logged in it goes into the channel so it may be misleading.

There are at least two links - one on homepage, one in top right menu.

[2018-02-04 14:14] DataCourier commented on #281
Thanks, I was getting `Uncaught Error: spawn EACCES` and replacing LND with the release one did the trick!

[2018-02-04 14:46] DataCourier opened #282 "Connecting to a node didn't ask how much and sent all my coin"
I clicked on `Connect` in this dialog and without asking, I get all my coins allocated into that channel.

![screenshot 2018-02-04 15 40 33](https://user-images.githubusercontent.com/35670446/35778709-51c1d110-09c2-11e8-8376-46a3f7eb5bfb.png)

Also, the loading animation after I clicked connect (where now it says pending) wold make the scrollbars flicker a lot (there shouldn't be horizontal scroll

[2018-02-04 14:56] DataCourier commented on #282
Correction, all was not sent, but it looked that way because the wallet said I have 0 coin in channels and 0 overall.

[2018-02-04 14:58] DataCourier opened #283 "Disable text selection in menu with css"
It looks weird to be able to select text in menu and UI where you shouldn't be able to.

Example:
![screenshot 2018-02-04 15 57 43](https://user-images.githubusercontent.com/35670446/35778836-338f8136-09c4-11e8-8b50-16e84695011b.png)

solution:
https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting#4407335

[2018-02-04 15:08] DataCourier opened #284 "Connect dialog remains open when request payment link (from web) is clicked"
![screenshot 2018-02-04 16 05 48](https://user-images.githubusercontent.com/35670446/35778917-5f777a3c-09c5-11e8-9862-d63afc40af8b.png)

It should hide itself when that happens, or stay open but invisible and once payment is done, it can go back again.

For case like this I would use a popup stack and the payment would be just another popup that would be removed form the stack once completed, not

[2018-02-04 15:14] DataCourier opened #285 "Set minimum amount of precision when entering amount"
It looks like I can set any amount of zeroes here:
![screenshot 2018-02-04 16 12 32](https://user-images.githubusercontent.com/35670446/35778976-428adeb8-09c6-11e8-8944-96148a93e7b7.png)

I wanted to know how many zeros a satoshi is so I typed a whole bunch of them and it turns out the field isn't limited.

I'd much more prefer being able to use bits/satoshis than 0.00...x

[2018-02-04 15:29] DataCourier opened #286 "How to get unstuck on testnet?"
So I've:
- received some testnet coins,
- tried opening some channels, but only one actually opened, other say EOF, timeour or are private
- tried paying for articles using Yalls but it fails to display the peer
- tried buying coffee, but they don't show the peer so I googled it, connected but still can't buy coffee (probably old / wrong peer, was pasted somewhere)
- tried connecting to some peers

[2018-02-06 02:06] joaoviniciussr opened #287 "My wallet does not open anymore."
I used normal once, then the second time it did not open anymore, it only synchronizes at 99% for several days and it does not open, I reinstalled and nothing. need help. is on the initial screen where this blackening appears on the black screen.
"The Lightning Network
The Lightning Network is a second layer solution built on top of the Bitcoin block chain that attempts to increase Bitcoin's scala

[2018-02-06 16:37] JimmyMow commented on #287
@joaoviniciussr what version are you running?

Also there was a huge block storm on testnet that caused lots of issues. If you want to drop your logs here I can help you debug

[2018-02-06 16:39] JimmyMow commented on #286
Continue to find peers to open channels with? I'm not sure this is a Zap issue. If you were unsuccessful connecting with peers that suggests they were offline, behind firewall, etc.

If you'd like to join the slack and talk about how to connect to some online testnet shops you're more than welcome but I'm going to close this issue

[2018-02-06 16:39] #286 closed

[2018-02-06 16:39] JimmyMow commented on #285
👍

[2018-02-06 16:40] JimmyMow commented on #284
👍

[2018-02-06 16:41] JimmyMow commented on #283
@DataCourier Want to submit a PR?

[2018-02-06 16:41] JimmyMow commented on #283
Or else I can do it. Seems fairly simple thought 😄

[2018-02-06 16:42] JimmyMow commented on #282
Sounds like you had 1 UTXO that the wallet used to open the channel. Not a bug. Wallet balance was 0 because Zap uses a light client. Closing

[2018-02-06 16:42] #282 closed

[2018-02-06 16:42] JimmyMow commented on #278
👍

[2018-02-06 16:44] JimmyMow commented on #277
This suggests that that `grpc` wasn't successful in connecting to an existing LND instance. I would shut down all LND instances and give your comp a few minutes before restarting Zap for the time being

[2018-02-06 19:17] DataCourier commented on #283
I'll be getting familiar with the app over the weekends. I'll try to make some PRs, but if anyone wants to grab it go ahead.

[2018-02-06 22:12] joaoviniciussr commented on #287
@JimmyMow Hello. Thank you for helping me,
Let's go, before it was at 0.1.0, I thought it was the version, I upgraded to 0.1.1. even so it was no use.
sorry for my lack of knowledge but where do I find the logs you need?

[2018-02-07 17:33] JimmyMow commented on #287
@joaoviniciussr depends on your OS, you can find all `lnd` related data here:

MacOS: `$HOME/Library/Application Support/Lnd`
Windows: `%LOCALAPPDATA%\Lnd`
Linux: `~/.lnd`

[2018-02-07 22:00] silver-moose opened #288 "Documentation - Step by step install process"
It will be nice to have step by step install
-Cleanup process or implementation /directory
-Stop process background i.e. lnd
-Download nitrino, btcd, lnd, etc.
-git, npm, or nothing

It could be beneficial, and one day included into the install process (Zap setup)
That will save time for newbies. like me

[2018-02-08 01:54] joaoviniciussr commented on #287
[lnd.log](https://github.com/LN-Zap/zap-desktop/files/1705414/lnd.log)

are you there.

[2018-02-09 19:41] lra commented on #287
I have the exact same issue, and my log is full of those:
[code]

Restarting it leads to the same messages over and over.

[2018-02-10 09:52] mntetai opened #295 "Add tools tips to v2"
I think you should add some tool tips .
For instance - "add users" - big plus on the top right side.
"Deposit addresses"  - near the balance on he right.

[2018-02-10 14:26] joaoviniciussr commented on #287
hello, please help me #sad @JimmyMow @lra

[2018-02-10 20:18] FintanK opened #297 "Minor issue: Wallet: Loading SVG is cut off on the top by about 2px"
![image](https://user-images.githubusercontent.com/2451523/36066327-5efd59a4-0ef3-11e8-82a5-a7a1a32d4e54.png)

[2018-02-10 20:20] FintanK opened #298 "Minor: CSS Layout. Walkthrough window pagination bullets need a margin above them."
![image](https://user-images.githubusercontent.com/2451523/36066349-9e54ef7c-0ef3-11e8-9fe0-4b8b8c01b2ac.png)

[2018-02-10 20:21] FintanK commented on #298
Another solution would be ensuring that the window is full screen when it is initially loaded.

[2018-02-10 23:25] lra commented on #287
I fixed it by deleting the `lnd` folder as stated above

[2018-02-11 09:58] DataCourier opened #299 "Use satoshis instead of floats to store amounts"
Usually when dealing with money, you store the cents instead of storing a float value.

For instance, $1.22 is stored as 122.
That ensures precision is not lost at any point in the application.

The other approach would be to use a big decimal datatype, but thats significantly more work to change your datatypes to.

https://stackoverflow.com/questions/1458633/how-to-deal-with-floating-point-number

[2018-02-11 11:40] DataCourier commented on #285
Playing with this right now, making an AmountInput component that:
- limits the precision to satoshis
- uses number input so non-numbers can't be put in
- supports up/down buttons to change the amount
- does not allow negative numbers

[2018-02-11 21:41] Empact commented on #285
FYI the native precision of lightning is milisatoshis, so we will need different precisions for on vs off-chain.

[2018-02-11 23:29] gregtronel commented on #234
Any update on this?
I tried to connect from the zap wallet on my local machine to my lightning node (which runs remotely) and had to force kill the app before it could finish creating the channel (had to leave and close my comp).
Now I'm getting this Javascript Error message every time I boot the zap app - it hangs forever trying to load the wallet.

[2018-02-11 23:54] joaoviniciussr commented on #287
I did the same and it worked, it reopened. but I lost my balance, returned zeroed, have how to recover? I saved the .dat file but it did not work, and every time I open the wallet she changes the address .. is this correct?
but at least it opens again but I can not send payments.

[2018-02-12 05:30] DataCourier commented on #299
As someone pointed out, the unit should be mili -
satoshis as thats what Lighning Network supports.
https://github.com/lightningnetwork/lnd/blob/master/lnwire/msat.go

[2018-02-12 10:16] wdey opened #301 "Fund your ZAP wallet"
I don't see "Fund your ZAP wallet" on the main page ? can I send my faucet tBTC to the "Deposit address" which I tried, but didn't work. Although I see many confirmation on the faucet site.

[2018-02-12 13:08] wdey opened #302 "Alias name and display in Acinq explorer ?"
Is it possible to give a alias Name to ZAP, such that it shows up in Acinq explorer ?

[2018-02-12 17:44] JimmyMow commented on #302
Yes, this will be merged into master today

[2018-02-12 17:45] JimmyMow commented on #301
Where did you get the address from? Are your funds still not there?

[2018-02-12 17:47] JimmyMow commented on #299
Hm, I'm not sure about this.  Yes, LN does support mili-satoshis but only internally. The API only exposes satoshis I believe, I would see not benefit in converting to mili-satoshis and then converting back to satoshis when talking to and from the API

[2018-02-12 18:56] Empact commented on #299
Good point, looking into the code sendpayment and payinvoice take satoshis. MSat and MilliMSat are used internally to accommodate lower relay fees.

[2018-02-12 19:24] JimmyMow commented on #299
yeah, I do think we can take a much cleaner approach to how we handle the satoshi value (also allowing conversion to bits/USD/etc), but that should be handled in a separate issues, so I'm going to close this

[2018-02-12 19:24] #299 closed

[2018-02-12 21:53] wdey commented on #301
Hi

I closed ZAP and the did a restart, and finally could my faucet tBTC’s.

Von: JimmyMow [mailto:notifications@github.com]
Gesendet: Montag, 12. Februar 2018 18:45
An: LN-Zap/zap-desktop <zap-desktop@noreply.github.com>
Cc: wdey <wdey@bluewin.ch>; Author <author@noreply.github.com>
Betreff: Re: [LN-Zap/zap-desktop] Fund your ZAP wallet (#301)

Where did you get the address from? Are your funds s

[2018-02-13 13:33] DataCourier commented on #283
Fixed by https://github.com/LN-Zap/zap-desktop/pull/296

[2018-02-13 13:33] #283 closed

[2018-02-13 16:46] JimmyMow commented on #302
#303

[2018-02-13 16:46] #302 closed

[2018-02-13 16:46] JimmyMow commented on #295
#304

[2018-02-13 16:46] #295 closed

[2018-02-13 16:47] JimmyMow commented on #298
we have a new sync screen since #303, going to close this

[2018-02-13 16:47] #298 closed

[2018-02-13 16:52] JimmyMow commented on #268
Feel free to reopen this but I'm going to close for now, seems like an old LND issue

[2018-02-13 16:52] #268 closed

[2018-02-13 16:52] JimmyMow commented on #267
Going to close this as this is a design request. To chime in on design details please join our slack

[2018-02-13 16:52] #267 closed

[2018-02-13 17:19] cavapoo2 commented on #254
Similar error:
[code]

I running simnet (btcd) and 2 lnd nodes (lnd version 0.3.0-alpha). I think i need to learn lightning code in more detail before playing around with this.

[2018-02-14 23:24] joaoviniciussr commented on #287
everything is fine as directed, it works again.

[2018-02-14 23:24] #287 closed

[2018-02-14 23:30] joaoviniciussr opened #305 "and normal zap open channels automatically?"
every time I open, has one or two channels open, which I did not ask for the manual open, and normal wallet zap add contacts automatically? thankful
![contatozap](https://user-images.githubusercontent.com/33408963/36233662-36141dc4-11ce-11e8-99de-fa8697852f19.png)

[2018-02-15 00:13] joaodealmeida commented on #305
Hello João,
Zap has autopilot enabled as default. If you don't know what autopilot is you can see more [here](https://github.com/lightningnetwork/lnd/tree/master/autopilot)

[2018-02-15 00:20] joaoviniciussr commented on #305
I bugged rsr
I saw, but I did not understand anything. but OK

[2018-02-15 02:26] JimmyMow commented on #305
yeah that's autopilot. you'll be able to configure it soon. closing

[2018-02-15 02:26] #305 closed

[2018-02-15 02:27] JimmyMow commented on #301
ok, closing

[2018-02-15 02:27] #301 closed

[2018-02-15 02:36] JimmyMow commented on #281
fixed

[2018-02-15 02:36] #281 closed

[2018-02-16 12:44] fredbeltrao opened #307 "Failed to connect to 127.0.0.1:18333"
Ubuntu 16.04

Tryning to run Zap for the first time.

- The frontend remains on 0%.
- 8 lnd processes running without any cpu consume
- .lnd/logs/testnet3/bitcoin/lnd.log displays these messages:

[code]

[2018-02-16 21:58] yashbhutwala opened #308 "Slack link is not working"
Can someone update the link?

<img width="604" alt="image" src="https://user-images.githubusercontent.com/5788514/36331061-5ac91850-133a-11e8-818f-afd528934c72.png">

[2018-02-17 04:28] happykids33 commented on #308
https://join.slack.com/t/zaphq/shared_invite/enQtMzA4OTgxNTQ4NzUzLTQwYjkzZGM0ZWMwYmYyZTE2Y2E1YjM5NTIwOTU0M2I1Zjc2YWY1NTc4NjdhZWQxNTM1YzEzOGM2YTVlNWIwODc

[2018-02-17 04:39] yashbhutwala commented on #308
Thanks @happykids33. Since the link expires every 16 days, I'll close this.

[2018-02-17 04:39] #308 closed

[2018-02-18 05:16] jakezeal commented on #223
Can you try `yarn cache clean` & `yarn install` again?
Also, what version of node.js are you running?

[2018-02-18 05:29] jakezeal opened #309 "Slack invite link on README.md is no longer active"
The [Slack invite link](https://join.slack.com/t/zaphq/shared_invite/enQtMjkyNTAxNDA3MjE2LWE3NGZjZGE5ZmI1NGQ5YTk3MGQzMTdmNDAwYjNhZTJkMWU0ZWZlNzA0MjJiNDBjMzcxYjcyMDMxNWY3OGNhYWQ) is no longer active:

<img width="1226" alt="screen shot 2018-02-17 at 9 28 05 pm" src="https://user-images.githubusercontent.com/13857938/36348647-93c1d984-146c-11e8-8c87-3613c8e08d9c.png">

[2018-02-18 19:53] odb366 opened #310 "Bug: unnecessary scrollbars on Windows"
Unnecessary scrollbars across the application caused by `overflow-y: scroll;` arguments.

![unnecessary scrollbars across the application](https://user-images.githubusercontent.com/14116101/36379495-82206a1c-1587-11e8-8cc2-f9c5a326f771.png)

[2018-02-19 03:29] JimmyMow commented on #309
sorry about that. should be fixed now.

[2018-02-19 03:29] #309 closed

[2018-02-19 03:31] JimmyMow commented on #307
`Failed to connect to 127.0.0.1:18333` is not a bug, it is just checking for a full node that supports neutrino on your local machine.

`Received addr (1000 addr) from 207.154.242.226:18333` means you established a connection with `207.154.242.226`, which is my full node. I know recently there were some funky issues on testnet, I reset my node and things should be resolved. Are you still facing is

[2018-02-19 03:31] #307 closed

[2018-02-19 15:40] odb366 opened #311 "Cannot scroll to the bottom of content #UI"
For example, when you have 10+ transactions in the transaction list you can scroll only to a certain point and cannot see the last 1-3 transactions (depending on the viewport height). Scrollbars appear to not have reached their bottom but content is cut. The issue is observed on Win10 64bit.

![scrollbar-issue-cannot-scroll-to-the-bottom](https://user-images.githubusercontent.com/14116101/36385091

[2018-02-22 04:14] neogeno opened #315 "Mac OS X Crash on Startup"
<img width="421" alt="screenshot 2018-02-22 12 13 31" src="https://user-images.githubusercontent.com/4373046/36520052-d528edbc-17c9-11e8-9948-c7c4cb0a2fc5.png">

[2018-02-22 14:34] justsomedude4242 opened #316 "[windows UI] channel status selector is getting cut off"
windows 10 64 bit

the box for displaying / choosing  "All / online / pending / closing"  is to small and gets cut off.

![online](https://user-images.githubusercontent.com/35006790/36543932-7740532c-17e5-11e8-8fa7-9ea17590d04e.png)

![pending](https://user-images.githubusercontent.com/35006790/36543933-775ade2c-17e5-11e8-8f8b-06e3e88a908d.png)

![closing](https://user-images.githubusercontent.com

[2018-02-22 15:20] justsomedude4242 opened #317 "[UI] Transactions are displayed 3 times"
windows 10 64 bit

transactions show up 3 times once confirmed

unconfirmed transactions only show up once

![duplicates](https://user-images.githubusercontent.com/35006790/36546603-2602a0c6-17ec-11e8-94df-8cfe08bb1138.png)

[2018-02-23 03:33] joaoviniciussr opened #318 "99% lnd HELP"
The zap wallet is 99% forever, the other time, I deleted the lnd folder, and synchronized from scratch, I had about 20tBTC and lost everything, now I have much more, will I lose again? because I deleted the lnd folder of appdata and now it is 0% forever, my log for someone help me grate brothers
[lnd.log](https://github.com/LN-Zap/zap-desktop/files/1750391/lnd.log)
@JimmyMow

[2018-02-23 21:12] langenoja opened #319 "Zap doesn't recreate directories if removed"
I tried mounting my local servers lnd instance into my ubuntu desktop user to see if that would work to have my config for LND running like that. It didn't, and in the process I removed the .lnd directory. The following error is shown upon starting the zap appimage now.

Uncaught Exception:
Error: ENOENT: no such file or directory, open '/home/galactica/.lnd/admin.macaroon'
    at Object.fs.openSy

[2018-02-23 21:58] langenoja commented on #319
It is apparent that I didn't really read the readme before embarking on this, but I'll leave it in.

[2018-02-23 21:58] #319 closed

[2018-02-24 15:00] joaoviniciussr commented on #318
[lnd.log](https://github.com/LN-Zap/zap-desktop/files/1754520/lnd.log)
can anyone help erase the lnd folder, and sync, does not exit 0%

[2018-02-25 03:34] joaoviniciussr opened #320 "How do I backup my wallet zap?"
recently my wallet zap does not open more, I would like to uninstall and install again, but for this I want to save my coins, how do I backup to not lose my balance and after that reinstall everything and come back with my currency balance ... @JimmyMow

[2018-02-25 10:35] Jay991 opened #321 "Balances in channels"
it would be great if we can have an advanced options problem to view balances with open channels that we constantly transact with. Meaning to see what is the balance uploaded on each channel if we are to leave them open.

[2018-02-25 17:22] DataCourier commented on #285
Addressed in https://github.com/LN-Zap/zap-desktop/pull/322

[2018-02-26 16:37] JimmyMow commented on #318
@joaoviniciussr what Zap version are you running?

[2018-02-26 16:38] JimmyMow commented on #321
This is already implemented and will stay in the new version. You can click on a channel and view your balance along with how much is sitting on each side.

[2018-02-26 16:38] #321 closed

[2018-02-26 16:39] JimmyMow commented on #315
duplicate on #277

[2018-02-26 16:39] #315 closed

[2018-02-26 17:52] joaoviniciussr commented on #318
my version is the latest   0.1.1   I believe.
if I need to uninstall and install again how do I back up so I do not lose the balance? @JimmyMow

[2018-02-26 20:47] justsomedude4242 commented on #317
No the issue does not persist. after restart it correctly show each transaction once

[2018-02-26 21:37] 52edc commented on #261
Same problem. Many channels opened but "unable to find a path to destination".

[2018-03-01 23:37] joaoviniciussr commented on #318
@JimmyMow Please help me.

[2018-03-06 08:31] Empact commented on #72
@thinkjanis feel free to open an issue for Snap - closing this given an AppImage is present in the current release: https://github.com/LN-Zap/zap-desktop/releases/tag/v0.1.1-beta

[2018-03-06 08:31] #72 closed

[2018-03-06 11:14] KurtPfeifle commented on #72
@Empact:

The link you gave doesn't seem to have an AppImage: https://github.com/LN-Zap/zap-desktop/releases/tag/v0.1.1-beta

Unless that "linux" ZIP has one hidden inside. If so, two issues:

1. Why then doesn't it mention the AppImage on that download side?
1. Hiding an AppImage inside a ZIP is somewhat against the AppImage philosophie...

[2018-03-06 18:59] probonopd commented on #72
...and reduces some of its functionality as is explained on https://github.com/AppImage/AppImageKit/wiki/Creating-AppImages#common-mistake:

[2018-03-08 02:11] Empact opened #324 "Handshake failed with fatal error SSL_ERROR_SSL: error:10000410:SSL routines:OPENSSL_internal:SSLV3_ALERT_HANDSHAKE_FAILURE."
This is with the current master of Lnd, as run by Zap.

[code]

[2018-03-08 02:16] Empact commented on #324
Here's a temp workaround from @jackmallers:
[code]

[2018-03-08 02:17] JimmyMow commented on #324
@Empact yeah working for me locally on my `cipherseed` restore/backup seed branch I will push up tonight.

Just need to set those env variables before you read the cert and establish the `grpc` connection

[2018-03-08 04:06] Empact opened #325 "Distribute the Linux AppImage outside the archive"
https://github.com/AppImage/AppImageKit/wiki/Creating-AppImages#common-mistake:

https://github.com/LN-Zap/zap-desktop/issues/72#issuecomment-370889926

[2018-03-08 04:10] Empact commented on #72
@KurtPfeifle Yeah the AppImage and Deb are in the archive. @probonopd thanks for the info, sounds like we should split that out. Presumably we should do the same with Deb?

[2018-03-08 17:09] mrfelton opened #326 "Users should be able to easily connect to remote lnd server"
Currently, there are a number of hardcoded assumptions that the user is running an lnd node on the localhost.

Users should be able to easily override this to connect to an alternate lnd server, such as one that is running on a remote host.

[2018-03-08 18:19] KurtPfeifle commented on #72
@Empact:

Exactly.

A ZIP to many Linux users looks suspicious. They'd have to download it first and peak inside to know what they deal with. And then, the download may even be in vain because the package isn't suitable for their system. Or, what also happens, there is a *`${s.th.-install}`* script inside which they'd have to trust first. Or, ...

Debian users will then recognize that they can ins

[2018-03-08 20:52] Empact opened #328 "Distribute the Linux Debian package as a separate download"
https://github.com/LN-Zap/zap-desktop/issues/72#issuecomment-371576195

[2018-03-08 22:42] odb366 commented on #311
Unfortunately, no I still can't fix this issue. Tried playing with the css and adding divs, yet the height of the transactions container (activity) wasn't properly calculated. The same is for the network list.

[2018-03-10 12:18] darko-mijic commented on #309
@JimmyMow Slack invite link is not working again.

[2018-03-13 04:09] Empact commented on #126
Solved by #303

[2018-03-13 04:09] #126 closed

[2018-03-13 04:14] Empact commented on #135
FYI, an icon was added in f535e2322c91fc2a93352ffa61a4b85c25f391fd

It looks like this:
<img width="512" alt="screen shot 2018-03-12 at 9 12 11 pm" src="https://user-images.githubusercontent.com/5470/37322344-2debecc8-263a-11e8-9694-449ff3cb1c87.png">

[2018-03-13 04:21] Empact commented on #259
The USD is shown on the request page as of #323. Not on the transactions list yet, neither do we have multiple fiat currencies supported. Feel free to open separate issues for those if you like!

[2018-03-13 04:21] #259 closed

[2018-03-13 04:22] Empact commented on #151
Hooray for releases! https://github.com/LN-Zap/zap-desktop/releases

[2018-03-13 04:22] #151 closed

[2018-03-13 04:29] Empact commented on #178
I'm not seeing this in the current interface, let's call it solved.

[2018-03-13 04:29] #178 closed

[2018-03-13 04:39] Empact commented on #205
This looks to be fixed - the current behavior is that the action is attempted, then when it fails, an error header is shown:

<img width="858" alt="screen shot 2018-03-12 at 9 38 37 pm" src="https://user-images.githubusercontent.com/5470/37322930-cb74b756-263d-11e8-9dc5-40b1e8117312.png">

[2018-03-13 04:39] #205 closed

[2018-03-13 05:51] Empact commented on #260
Closing as dup of #257

[2018-03-13 05:51] #260 closed

[2018-03-13 07:22] Empact commented on #310
Closed via #331

[2018-03-13 07:22] #310 closed

[2018-03-13 08:35] Empact commented on #278
Fixed in 67f09ef02649b5baf853cacd987e33aa51a91811

[2018-03-13 08:35] #278 closed

[2018-03-13 10:18] Empact commented on #325
Closing as duplicate of #237

[2018-03-13 10:18] #325 closed

[2018-03-13 10:18] Empact commented on #328
Duplicates #237

[2018-03-13 10:18] #328 closed

[2018-03-14 07:38] nm123github opened #337 "Seeing Error: spawn UNKNOWN (after Screen 2)"
I am attempting to setup zap-desktop (on testnet), OS Windows 7 (32 bit). I copied pasted lnd.exe in the bin folder (from the console logs, it seemed to expect it to be there). I ran `npm start' and the electron app opened successfully.

However, after i enter my Name (Screen 1) and Enable Autopilot (Screen 2) i came across the following error.
![image](https://user-images.githubusercontent.com/85

[2018-03-14 07:58] Empact commented on #337
Looking into this, seems your LND is not running properly. Could you answer these?:
[code]
https://github.com/Medium/phantomjs/issues/478

[2018-03-14 18:15] nm123github commented on #337
* does the same command work when running from system console?
I ran `npm start` from the console.

* what Node.js version do you use?
v8.10.0

* do you have 'Include parent environment variables' enabled in your Node.js run configuration?
Open 'Environment variables' dialog using ellipsis button in Environment field to check it
Not sure where i can check this. Is it the Environment Variables dial

[2018-03-14 22:53] Empact commented on #337
What happens when you run `lnd --version` from the terminal?

[2018-03-15 04:27] nm123github commented on #337
Looks like the lnd version i got (by default) is 64 bit version. I'm on 32bit windows 7.
![image](https://user-images.githubusercontent.com/8527474/37444352-3cf066dc-27ce-11e8-8034-fcc6a3d028ca.png)

Pretty evident what the issue is. We could go ahead and close it i guess. Thanks for the help.

[2018-03-15 13:12] mrfelton opened #339 "Slack invite link no longer working (long term fix needed)"
It seems that the slack invite link on the README is no longer working. It seems that this is a recurring issue - this same issue has been created over 20 times by various people.

This is a barrier and blocker that in some cases may prevent people from participating in the community entirely.

See https://github.com/LN-Zap/zap-desktop/search?q=slack&type=Issues&utf8=%E2%9C%93

It appears that the

[2018-03-16 08:28] #337 closed

[2018-03-16 17:15] #297 closed

[2018-03-16 17:19] #317 closed

[2018-03-16 17:51] Empact commented on #219
The network graph is cut.

[2018-03-16 17:51] #219 closed

[2018-03-16 18:02] #135 closed

[2018-03-16 18:03] Empact commented on #223
Closing as stale and probably yarn rather than zap-related. Feel free to re-open if the issue is ongoing!

[2018-03-16 18:03] #223 closed

[2018-03-16 19:06] ChrisDoesEverything opened #341 "GRPC Error: cannot parse size"
Once I start the program I get a message box containing the below message.
https://i.imgur.com/2c2UqJd.jpg

[2018-03-16 19:20] Empact commented on #243
Now it simply says "Syncing to the blockchain..." with a loading bar, similar to your suggestion @CryptoChronicus. Feel free to open new issues against the current interface!

[2018-03-16 19:20] #243 closed

[2018-03-16 21:50] Empact commented on #242
This is fixed in the current version.

[2018-03-16 21:50] #242 closed

[2018-03-16 22:45] Empact commented on #232
This worked for me with the 0.1.1 and 0.1.0 releases, with Mac OS 10.13.3.

This page says this error code could be due to disk corruption, which fits the failure. Could you try running disk repair and trying again?

https://discussions.apple.com/thread/5388208
https://support.apple.com/en-us/HT201639

[2018-03-16 22:48] Empact commented on #197
This is fixed in master.

[2018-03-16 22:48] #197 closed

[2018-03-18 03:45] LachlanSean opened #343 "Unable to run Zap-Desktop on lnd beta"
I'm running lnd 0.4 using bitcoind 0.16 as the backend. lnd is synced to LN mainnet, autopilot is managing channels and paying invoices is fine via CLI.

Unable to run Zap-Wallet on top of lnd - either Zap via the debian install package or the master.
I've tried both with lnd already running in the background and not.
Popup error is

![zap error](https://user-images.githubusercontent.com/37492868/

[2018-03-18 09:56] pors opened #344 "Crazy high CPU usage on Mac"
I just installed release v0.1.1-beta for Mac OS and it works fine, but every now and then it goes crazy with CPU usage. The fans kick in and it won't stop after that.

![screen shot 2018-03-18 at 11 55 15 am](https://user-images.githubusercontent.com/1078320/37564676-5cf189fc-2aa3-11e8-9eda-edbc284d7b43.png)

[2018-03-18 11:27] mrfelton commented on #343
There is a fix for this here: https://github.com/LN-Zap/zap-desktop/pull/338

[2018-03-18 18:33] hoffmabc opened #345 "Add Contacts screen needs more instructional help"
As a first time user or someone not too familiar with lightning, it would be good to see this screen help people out a little further as to what this UI is for.

![image](https://user-images.githubusercontent.com/45482/37569465-26077512-2ab9-11e8-91ca-7a4a0efaa7f8.png)

[2018-03-19 10:19] LachlanSean commented on #343
Thanks. So the process would be to wait for this commit to get merged, then I'd just clone the master, recompile and it should run?

[2018-03-19 23:49] zachgoll commented on #230
I know this issue isn't going to be fixed immediately, but from a UI/UX perspective, maybe add logs or some sort of message to indicate to the user that everything is okay they just need to be patient?

[2018-03-20 20:13] zachgoll commented on #288
@silver-moose Are you referring to a step by step install for developers or for normal users of the wallet?

[2018-03-20 20:22] silver-moose commented on #288
@zachgoll I think it's more important for End User - Normal users.
JD/

[2018-03-21 10:12] #324 closed

[2018-03-21 10:38] #343 closed

[2018-03-21 11:50] #311 closed

[2018-03-21 19:42] odb366 commented on #316
@justsomedude4242 Could you update to the last version and check if the problem is solved

[2018-03-21 21:15] odb366 commented on #271
What do you think about **Disconnect** ?

[2018-03-21 23:03] ericomurtez commented on #271
Yeah I like that!

[2018-03-27 09:20] Empact commented on #344
Hey, looks like the issue you're referring to is with LND:
https://github.com/lightningnetwork/lnd

I take it you're relying on the bundled lnd, not running your own?

[2018-03-27 10:04] pors commented on #344
@Empact yes I run it bundled. Am I the only one having this issue? I downloaded a compiled release so you would think everyone would have this?

I'll refer to this issue at LND anyway, thanks.

[2018-03-27 10:52] Empact commented on #344
@pors we’re currently bundling lnd 0.3.0, so you could try running the current version, lnd 0.4.0, yourself. If Zap detects an active lnd process on startup it will use that rather than start its own.

[2018-03-27 10:57] pors commented on #344
OK, will give that a try!

[2018-03-28 06:46] Empact commented on #344
If you run LND, then start Zap, and Zap successfully detects LND, you should see: "LND ALREADY RUNNING" in the log, and it should skip onboarding.

If you don't see that in the log, you may be running into #124

[2018-03-28 14:25] pors commented on #344
I installed lnd 0.4.0 and it is up and running. Running Zap now results in this error:

![screen shot 2018-03-28 at 5 24 26 pm](https://user-images.githubusercontent.com/1078320/38035403-0102fcb8-32ad-11e8-8129-4c859e1e94e8.png)

[2018-03-29 10:22] Empact opened #355 "Support invoice-only LND macaroon"
https://github.com/lightningnetwork/lnd/pull/904

[2018-03-29 20:03] Empact commented on #355
Never mind, this just works, supposing the macaroon exists, which LND will create if there are no macaroons. Assuming the upgrade process on their side will solve this.

[2018-03-29 20:03] #355 closed

[2018-04-04 09:57] patestevao commented on #231
I noticed the same issue and I think there is a duplicate here: https://github.com/LN-Zap/zap-desktop/issues/252.

Anyway, my suggestion for this one is:
If the channels with the same peer appear as completely different things, the analogy of “contacts” doesn’t make sense. There are 2 approaches I can think about:
- Drop the "add contact" analogy and change it to “open channel” or something simila

[2018-04-04 10:04] patestevao opened #356 "[UX] Readability issue with yellow buttons"
Hi, I just finished an UX research on LN and its tool/wallets ([here's the specific section about ZAP](https://patestevao.gitbooks.io/lightning-network-ux-research/content/objective-three-review-of-current-interfaces.html#zap)) and will be filing the issues I found on the next few days.
Here's the first:

I think the readability is very poor in some of the main buttons of the wallet (PAY, REQUEST,

[2018-04-04 10:09] patestevao opened #357 "[UX] Concepts explanation when the wallet is syncing are too superficial"
When bootstrapping the wallet, I noticed there are some slides trying to explain somethings about LN for the use.

**Version** is v0.1.0-beta release for MacOs and run on a macOS High Sierra v10.13.3.

While the “Lightning Network” concept is good, the others are a little too superficial for someone to understand (people will only understand if they already know those concepts).

Maybe that space

[2018-04-04 10:13] patestevao opened #358 "[UX] Inconsistent naming in the address window."
The blockchain address of the wallet is called "wallet address" in the QR code section and "deposit address" below. Only one denomination should be used to make it clear that it's the same thing.

The **version** I was running is v0.1.0-beta release on a macOS High Sierra v10.13.3.

Am I missing something here?
Thanks!

Here is a screenshot with the possible inconsistency on screen:
![zap_22](http

[2018-04-16 06:40] JHPSoft opened #365 "Why my Zap creates new channel himself?"
I have only added yalls.org node(039cc950286a8fa99218283d1adc2456e0d5e81be558da77dd6e85ba9a1fff5ad3@34.200.252.146)
to my zap wallet.

But sometimes zap creates new connection (ex, lightnode.ch , Thunderstream.io ...)
Each channel pend 0.16768528 tBTC (+ used my 2652 satoshis for tx fee. wtf)
When I tried to disconnect them, they fall into 'Removing',
and to refund pended btc, I had to wait almost

[2018-04-18 06:51] jsmellz commented on #230
Zap won't sync past 0%. I keep getting the same pattern in log file over add over
- Disconnecting peer
- lost peer
- [list channels]
Does this mean the node is getting too much traffic?

[2018-04-18 16:07] guggero commented on #365
Hi
Did you activate the 'autopilot' feature?
The autopilot automatically creates channels for up to 60% of your on-chain funds.

[2018-04-18 17:02] archchi commented on #365
I'm having the same issue as JHPSoft.
guggero, I did not knowingly activate an 'autopilot' feature, nor did I realize there was one. There's no settings I can find on the UI, so where's the config file located on Linux and how do I modify that setting or disable it? Thanks.

[2018-04-18 17:17] archchi opened #367 "The application doesn't exit cleanly; lnd keeps running"
On Arch Linux, after exiting the application, /opt/Zap/resources/bin/lnd is still running, so the process needs to be killed manually.

[2018-04-18 17:18] guggero commented on #365
Did you start `lnd` yourself or did Zap do it for you?
In the current version there is an 'Onboarding' process that starts right after you start the GUI (in case Zap starts the `lnd` process). It first asks you for an alias and then if you want to activate the autopilot.
If you started `lnd` yourself, check your `lnd.conf` if autopilot is set to 1

[2018-04-18 17:37] archchi commented on #365
Zap starts lnd, but I was neither asked for an alias nor if I wanted to activate the autopilot. Also, there is no lnd.conf on my system, only the lnd binary and a lnd.log file.

[2018-04-18 17:53] archchi commented on #365
I should mention that deb files are not natively supported on Arch, so I had to use a tool to convert it to a Pacman-friendly (Arch package manager) format to install it. That could be part of the problem, perhaps. Also, the program never prompted me to write down a wallet seed, so there's no way to recover my coins if the installation gets corrupted and I need to reinstall. There was the threat o

[2018-04-18 20:05] archchi commented on #365
I modified the lnd.conf file to turn off the autopilot, but it didn't make a difference. I have the lnd.conf located in the POSIX default of ~/.lnd/data
Does Zap read it from a different location?

[2018-04-20 05:59] archchi commented on #365
@JHPSoft, I moved it to ~/.lnd but autopilot still persists even though I have it set to "off"
`~/.lnd/lnd.conf`
`autopilot.active=0`

[2018-04-20 06:03] archchi opened #368 "Closed Channels are Stuck in Contacts List"
It's been days, but the channels are stuck and haven't been closed or removed from my contacts list.
![stuck](https://user-images.githubusercontent.com/18718798/39033207-9ccb1adc-4436-11e8-9d14-01f439a005dd.png)

[2018-04-20 07:54] archchi commented on #368
Sorry, this is a dupe of #257
I hadn't checked the list before posting.

[2018-04-20 07:54] #368 closed

[2018-04-20 08:18] archchi opened #369 "How do I establish a peer connection and open a channel between my Zap and HTLC.me wallets?"
I'm trying to pass funds between two different wallets for testing purposes.

[2018-04-23 04:47] JHPSoft commented on #257
Same issue.
In my case,
all of successfully removed channel's transaction was

And on "removing" state channel's transaction is

[2018-04-23 04:57] JHPSoft commented on #365
@archchi
I wrote `autopilot.active=0` too.
But my zap still open channel automatically.
So I added `autopilot.maxchannels=0`
And it looks stop to open channel

[2018-04-23 08:49] archchi commented on #365
@JHPSoft
Yes, that seems to work.
I think the autopilot.maxchannels=0 should only have relevancy if autopilot.active=1 but I guess that's for the devs to decide.
Thanks for your help.

[2018-04-23 08:56] archchi opened #371 "There is no intuitive way to sweep a wallet"
I want to completely empty out my wallet to zero balance for testing purposes, but if I put in the full amount I get:
`Error: insufficient funds available to construct transaction`
because, obviously, network fees need to be factored in. There should be a "sweep wallet" feature that factors this in automatically.

[2018-04-23 13:31] JimmyMow commented on #365
Zap's LND config is in https://github.com/LN-Zap/zap-desktop/blob/master/app/main.dev.js

The `testnet` release we set `autopilot` on by default. Our next upcoming release you will be able to configure `autopilot` in the onboarding flow along with things like `alias`, `remote node setup`, `wallet encryption`, etc.

I am going to close this as it is not an "issue" :)

[2018-04-23 13:31] #365 closed

[2018-04-26 13:34] archchi opened #375 "Error: EOF"
Why do I keep getting this message when trying to open a channel?
Here's is the node I'm trying to connect to:
038f80b541c3a9c1bbd54b4b15a379db83221e3fb50d5ffc543cef6d62a7f71631@35.185.13.214
Can someone else try opening a channel to that node to help me troubleshoot?

[2018-04-26 13:47] archchi opened #376 "Transaction Error: IncorrectCltvExpiry"
When trying to pay for a Starblocks coffee, the transaction failed with this message:
`IncorrectCltvExpiry(expiry=1294573, update=(lnwire.ChannelUpdate) { Signature: (*btcec.Signature)(0xc4233b2050)({ R: (*big.Int)(0xc423308d20)(75594086893570983287303355837468686514989197996746461084519568615634764188025), S: (*big.Int)(0xc423308d40)(360145129195344654597185551414300613904719939790395193801717667

[2018-04-30 03:22] JHPSoft opened #377 "Reusing payment request is correct?"
I tried to read articles on y'alls.

When I paid 150 satoshis,
zap showed this error message

I thought 'Oh, it failed to pay' and clicked "Pay" button twice more.
(using same payment request address)

30 seconds later,
suddenly zap showed

Three lighting transactions has same TXID.
But each transaction withdrew 150 satoshis.
As a result, 450 satoshis was spent.

I know every transactions must hav

[2018-04-30 13:49] archchi opened #378 "Right click mouse support for pasting text"
Please add right click mouse support, so users can paste an invoice string into the payment box instead of needing to use CTRL + V

[2018-05-03 23:53] JimmyMow commented on #377
Are you using a Zap release? This should be fixed in the latest master.

Before we would set a 10 second timeout because LND would hang back then. This is fixed now and the user can't submit the form again until the LND request finishes.

[2018-05-03 23:55] JimmyMow commented on #376
This is not a Zap error but an LND error.

Also what version of Zap were you running? This was fixed in LND recently and is in master. You can compile and run LND yourself if you'd like the fix

[2018-05-03 23:55] #376 closed

[2018-05-03 23:57] JimmyMow commented on #375
Just means the person you're trying to connect to isn't available or rejected the connection. Not a Zap or LND issue. Everything worked accordingly. Closing

[2018-05-03 23:57] #375 closed

[2018-05-03 23:58] JimmyMow commented on #369
Go to htlc.me and find the nodes pubkey and host. Enter it into Zap and submit the channel form.

Going to close this as this is not an issue

[2018-05-03 23:58] #369 closed

[2018-05-03 23:58] JimmyMow commented on #371
👍 nice. I think that would be a cool feature

[2018-05-04 00:00] JimmyMow commented on #367
This should be fixed in latest master

[2018-05-04 00:00] #367 closed

[2018-05-04 00:01] JimmyMow commented on #344
@pors what version of Zap are you trying to run? LND 0.4.0 may not be able to run with the old Zap releases. The API has changed and there is a new onboarding flow for creating and unlocking your wallet. I'd pull from master if you'd like to use Zap with new LND releases

[2018-05-04 00:02] JimmyMow commented on #339
Can I close this?

[2018-05-04 00:06] JimmyMow commented on #320
The ability to save your seed on creation and recover a wallet is no in master so I'm going to close this

[2018-05-04 00:06] #320 closed

[2018-05-04 00:08] JimmyMow commented on #316
Should be resolved in master. Closing this

[2018-05-04 00:08] #316 closed

[2018-05-04 00:12] JimmyMow commented on #250
The new filters are merged into master. I'm going to close this

[2018-05-04 00:12] #250 closed

[2018-05-04 00:13] JimmyMow commented on #253
Yup. We've redeisgned the loading screen and it's merged into master. Closing

[2018-05-04 00:13] #253 closed

[2018-05-04 00:17] JimmyMow commented on #227
Going to close this as now we use the `alias` feature that LND provides

[2018-05-04 00:17] #227 closed

[2018-05-04 07:04] odb366 commented on #375
We should use a more user friendly description, like: "The connection isn't available at this moment or it is rejected", rather than "EOF" ?

[2018-05-04 07:53] pors commented on #344
@JimmyMow I used v0.1.1-beta for Mac so I don't have to build it myself. When do you think you'll release a new version? Otherwise, I can try to build it myself from master.

[2018-05-07 15:29] Gallahron opened #386 "Initial lightning network download at 0%"
When I first open the program, the download syncing my lightning network to the blockchain remains at 0% for hours, using resource monitor I could see that the app wasn't sending or recieving any data after the first 30 seconds or so.

[2018-05-09 13:57] pseudozach commented on #386
Also facing this issue. There's already #230 for some people (probably the ones with previous lnd installations from other apps) deleting the lnd folder worked but what I see is the connections are failing at the moment.

[2018-05-09 14:43] Gallahron commented on #386
I saw that issue but had no previous lnd installation

[2018-05-10 02:19] Andimaxgt opened #388 "SLACK LINK DOES NOT WORK."
Please

[2018-05-10 02:40] mrfelton commented on #339
I don't think the issue has been fixed @JimmyMow . Every 14 days the link breaks. Just updating the link every 14 days isn't going to cut it. What happens is that other people find the broken link before someone with commit access has noticed that it has become broken again and has the time to fix it.

The link is broken again right now.

Yet another new user has tried to access the slack channel

[2018-05-10 02:42] Andimaxgt commented on #339
Whats the issue ?

[2018-05-10 02:49] mrfelton commented on #339
@Andimaxgt - see my comments above https://github.com/LN-Zap/zap-desktop/issues/339#issue-305546847

Slack invite links are only valid for 14 days. It's just a limitation of how how slack invite links work. This is the reason tools like https://github.com/rauchg/slackin exist.

[2018-05-10 06:50] odb366 opened #389 "Autofocus for certain input fields"
We need to add `autoFocus` attribute to the 1st input field of Pay, Request, Search and Connect to peer screens.

Autofocus saves user effort by automatically selecting the desired input field of a form.

[2018-05-11 10:57] evertvr opened #391 "REJECT_MALFORMED cmd when trying to sync wallet"
Hi all,

I've been getting strange error message when trying to sync my zap desktop wallet.

Attached is my lnd.log, it looks like peer 188.166.148.62 is sending a header which exceeds the max header length.

Anyone knows what could be wrong here?

[lnd.log](https://github.com/LN-Zap/zap-desktop/files/1995025/lnd.log)

[2018-05-16 12:24] mrfelton opened #392 "Zap should handle failures to load the suggested nodes list gracefully"
When the app starts up, it tries to connect to http://zap.jackmallers.com/suggested-peers. Currently, this URL is returning a 404. This is causing errors in the console:

[code]

This seems to prevent the app from getting past the onboarding phase on startup with the user being stuck on the final 'loading' screen.

What is http://zap.jackmallers.com/suggested-peers supposed to provide?

Is it nece

[2018-05-16 14:39] JimmyMow commented on #392
It provides an array of nodes but the app shouldn't break if the API call fails. I'll work on a fix

[2018-05-19 10:31] liamaharon opened #393 "Link to lnd-binary in ADVANCED.md is broken"
Navigate to https://github.com/LN-Zap/zap-desktop/blob/master/ADVANCED.md#lightning-labs-binary
Click `lnd binary`
Link https://github.com/lightninglabs/lightning-app/tree/master/apps/desktop/bin 404s

[2018-05-20 01:53] highvolt4ge commented on #339
Yeah, invite link is dead once again.

[2018-05-21 05:43] JHPSoft commented on #377
OK, Now I got '0% download' error.

It looks fixed in latest version, so I close issue

[2018-05-21 05:43] #377 closed

[2018-05-21 19:37] #326 closed

[2018-05-22 15:40] mrfelton opened #394 "Unable to edit channel search query if no results are found"
At the bottom of the channel list there is an input box that lets you filter the channel list based on node alias or pubKey. If you type something into this box that returns no results, the input disappears and the message `Hmmm, looks like you don\'t have any channels yet. Here are some suggested nodes to open a channel with to get started` displays at the top of the channel list.

There is no wa

[2018-05-22 19:09] mrfelton opened #396 "Filtering on node name/alias not working"
Trying to filter on channel name does not work (always shows no results). Only filtering on node id works. The placeholder text in the channel search input says "search by alias or pubkey" so searching on an alias should work in addition to the pubkey.

[2018-05-24 01:04] BTCDCA opened #399 "Syncing your lightning network node to the blockchain stuck at 76%"
Why is this stuck at 76%?   How long does it take to sync?

[2018-05-27 17:59] mrfelton commented on #391
The issue here seems to be that the zap wallet currently uses `188.166.148.62` as the backend btc node for the neutrino light-client, and this node appears to be having some issues. @JimmyMow can you check your bitcoin node please?

[2018-05-28 04:00] rbndg commented on #386
I have this issue too.

[2018-05-28 09:01] mrfelton commented on #386
I think this is the same issue as https://github.com/LN-Zap/zap-desktop/issues/391

[2018-05-28 09:02] mrfelton commented on #399
This this is the same issue as https://github.com/LN-Zap/zap-desktop/issues/391

[2018-05-28 14:59] JimmyMow commented on #391
@mrfelton the BTCD node hosted at `188.166.148.62` is fine

@evertvr what version of Zap are you running?

[2018-05-28 15:16] evertvr commented on #391
Version 0.1.0

-------- Original Message --------
On May 28, 2018, 16:59, JimmyMow wrote:

[2018-05-28 16:23] mrfelton opened #400 "Unable to create new wallet with 8 character password"
Trying to create a wallet with an 8 character password fails with the following error:

[code]

Additionally, attempting to unlock an existing wallet fails.

[2018-05-28 16:39] mrfelton commented on #391
Lastest code in master @JimmyMow

I have also tried adding `faucet.lightning.community:18333` as an additional neutrino node and it's unable to sync from that one too.

I'm using the latest lnd v0.4.1-beta release.

You can test by wiping out your LND data dir snd try setting up a new wallet from scratch

[2018-05-31 09:36] mrfelton opened #402 "Update LND to v0.4.2-beta"
LND v0.4.2-beta was released yesterday - we should update to provide the best experience for our users.

[2018-06-04 13:54] mrfelton opened #404 "Builds failing (unable to build grpc on node 10.3.0)"
All builds on the latest node version are failing. This appears to be an issue since the recent node 10.3.0 release. The build fails when installing grpc.

eg https://travis-ci.org/LN-Zap/zap-desktop/jobs/387761453

[2018-06-04 14:49] #404 closed

[2018-06-06 18:36] #400 closed

[2018-06-07 19:38] #284 closed

[2018-06-10 00:12] REGOJO commented on #391
same problem, is it solved?

[2018-06-10 07:36] mntetai opened #410 "Error in zap startup"
Steps to reproduce
pull development version from github ( master branch).

Expected output
application should run normally.

Actual output

I got the following error

 ERROR in ./app/reducers/onboarding.js
[0] Module not found: Error: Can't resolve 'electron-store' in 'C:\Users\user\Documents\zap-desktop\app\reducers'
[0]  @ ./app/reducers/onboarding.js 32:21-46
[0]  @ ./app/containers/Root.js
[0]

[2018-06-10 08:29] mrfelton commented on #410
@mntetai you need to run `npm install` again after pulling down the latest code. That should install `electron-store` which is a new project dependency.

[2018-06-11 12:29] #396 closed

[2018-06-12 08:42] odb366 opened #415 "Missing password validation during onboarding"
During onboarding process users are asked to create a pass for unlocking ZAP. The pass should be 8 or more characters, but users are able to create one with less than 8 characters and proceed. Inline validation is missing. Consequently, on the last step of the onboarding they cannot proceed, and are unable to start ZAP.

Update: the user can even proceed without entering the confirmation password

[2018-06-13 09:20] fiddybux commented on #230
Just tried Linux version. Within seconds it had started syncing and got to 75%. It must be something specific to Windows 10. At least I know it should work, and I do have access to it, albeit not in Windows 10. Additionally, it seems stuck on 75% now...I'll give it some time and see what happens.

[2018-06-13 23:02] Empact opened #416 "Ability to download seed to .txt file"

[2018-06-14 08:14] ZapUser77 opened #418 "Unable to install on Raspberry Pi"
OS: Raspbian
BitcoinD: 0.16.0
LND 0.4.2
Node.js version: 10.4.1
npm version: 6.1.0
Yarn: 1.7.0

yarn
yarn install v1.7.0
[1/5] Validating package.json...
[2/5] Resolving packages...
success Already up-to-date.
$ concurrently "npm run flow-typed" "npm run build-dll" "electron-builder install-app-deps" "node node_modules/fbjs-scripts/node/check-dev-engines.js package.json"
[1]
[1] > zap-desktop@0.1.

[2018-06-14 18:42] JimmyMow opened #419 "Ability to manually refresh activity list"
Because we are now setting up to allow remote devices to control our Zap node we can have instances where I create an invoice on my phone and it will not update on my Desktop interface. Easiest and simplest way to resolve this is just have a refresh icon that fetches invoices, payments and transactions on click. Exactly how we do refresh of the channels list

[2018-06-14 19:42] dmp1ce opened #420 "Error building dependencies with yarn on Arch Linux"
I just downloaded the code and tried to build the dependencies on Arch Linux with `yarn`. I'm not sure if I'm missing something obvious.

Here is my build output.
https://bpaste.net/show/d9de030db9ca

[2018-06-14 20:37] JimmyMow opened #421 "Accept incoming connections (Like from my Zap mobile)"
I wanna be able to configure my node during the onboarding process to accept incoming connections. Then once configured I should be able to load a QR code within my desktop app that has all data needed to connect from my mobile device. My mobile phone will scan the QR code form the Desktop and load up :)

[2018-06-14 20:50] fiddybux commented on #230
With the latest zap-win-release-v0.1.1-beta, I am now making progress, but stuck on 75% for 3 hours. It shot up to 75% within a few seconds, and has been there ever since. Have tried removing Lnd folder, but exhibits same behaviour.

[2018-06-14 21:03] Empact opened #422 "Clearly communicate testnet vs mainnet"
- [ ] Present units as "tBTC"

[2018-06-14 21:48] mrfelton commented on #420
@dmp1ce did you / can you try running `npm run install-grpc` after running `yarn`?

[2018-06-14 22:07] mrfelton commented on #420
@dmp1ce if you could test the above patch which updates the grpc package that would be great ;)

Updated code is in this fork/branch https://github.com/mrfelton/zap-desktop/tree/feat/update-grpc

[2018-06-15 00:51] dmp1ce commented on #420
https://bpaste.net/show/d32c16d9afc0 from the branch `feat/update-grpc`. I didn't try the step `npm run install-grpc` because I assumed the `yarn` command failed. Should I just continue on with running `lnd` and running Zap?

[2018-06-15 00:53] dmp1ce commented on #420
`npm run install-grpc` also had errors. https://bpaste.net/show/c2bf6b2ea5e1

[2018-06-15 15:31] odb366 opened #425 "UX/UI - Onboarding FormContainer layout issues"
There are some UX/UI issues for the onboarding process:
- The whitespace is not well spread leaving the Primary content and Primary action too close to the bottom of the app (see image below).
- The "Next" button doesn't look like one and needs bigger clicking area and more space from the bottom to prevent clicks outside of the app.
- There are input fields without any borders which look like text

[2018-06-15 18:41] mrfelton commented on #420
@dmp1ce I've been working on updating various build dependencies for the project to resolve some build related issues that I was facing. It's possible that some of these updates could resolve your issues too.

Could you try with the code from this PR https://github.com/LN-Zap/zap-desktop/pull/426 (code is in this branch https://github.com/mrfelton/zap-desktop/tree/feat/update-tooling)

[2018-06-15 22:42] fiddybux commented on #391
Same problem. Stuck at 75% on 0.1.1 beta for Windows 10 and Linux versions.

[2018-06-15 22:46] fiddybux commented on #318
Lucky to get to 99%! Unlucky with the coin.

[2018-06-15 23:18] mrfelton commented on #391
@fiddybux I would suggest that you try using the latest code from the master branch, along with the most recent build of lnd.

[2018-06-16 01:54] dmp1ce commented on #420
I'm not sure I'm building grpc-native-core correctly but I get these errors.

https://bpaste.net/show/659c8d50e916

[2018-06-16 02:08] ZapUser77 commented on #418
It seems the installation doesn't detect the correct ARCH.
"Linux raspberrypi 4.14.30-v7+ #1102 SMP Mon Mar 26 16:45:49 BST 2018 armv7l GNU/Linux"

[3] node node_modules/fbjs-scripts/node/check-dev-engines.js package.json exited with code 0
[2] electron-builder install-app-deps
[2]
[2] Install app deps
[2]
[2] Options:
[2]   --version   Show version number                                      [boo

[2018-06-16 05:35] crashtest7 commented on #391
Hi,

I am currently stuck at 0% can anyone help? here is the log https://pastebin.com/m8F3ZJWz

Thanks:

[2018-06-16 05:41] crashtest7 opened #430 "Stuck at 0%"
Hi,

I am currently stuck at 0% can anyone help? here is the log https://pastebin.com/m8F3ZJWz

Thanks!

[2018-06-16 08:15] fiddybux commented on #391
I plonked the latest lnd into /opt/zap et al, and it seems to be syncing
properly now. Up to 35% of gradual increase rather than stuck at 0% or
instantly up to 75%. I'm getting Java errors on executing zap-desktop, but
it doesn't seem to be hindering the sync progress.

On Sat, 16 Jun 2018, 00:18 Tom Kirkpatrick, <notifications@github.com>
wrote:

[2018-06-16 08:27] fiddybux commented on #430
Try downloading the latest lnd (google it), and putting in application folder. On win this will be something like:

C:\Users\YOU\AppData\Local\Programs\zap-desktop\resources\bin

[2018-06-16 10:11] crashtest7 commented on #430
I put lnd.exe in the app folder as you mentionned but it still keeps on trying to connect...
from what I gathered could that be because of an issue with the win firewall? anyway thanks for the reply.

[2018-06-16 10:44] mrfelton commented on #430
@crashtest7 it could well be port related. You need to ensure that you accept incoming connections on port 9735. You may need to setup port forwarding on your router.

See https://medium.com/@jadmubaslat/bitcoin-lightning-network-node-easy-setup-tutorial-for-windows-desktop-users-a-how-to-guide-9937b5a8a669

[2018-06-16 11:07] mrfelton commented on #420
@dmp1ce Can you open a support request at https://github.com/grpc/grpc/issues/new please? They should be able to help you better.

[2018-06-16 11:16] fiddybux commented on #430
Inside /resources, then inside /bin

On Sat, 16 Jun 2018, 11:11 crashtest7, <notifications@github.com> wrote:

[2018-06-16 22:17] Empact commented on #418
@ZapUser77 could you open a bug with https://github.com/electron-userland/electron-builder/issues?

[2018-06-17 00:30] ZapUser77 commented on #418
Or, perhaps the script yarn is using could just pass the the argument -armv7l?
It doesn't appear to be a problem with Electron, it appears to be a problem with the script isn't passing the correct argument.
I'll try installing electron manually.

[2018-06-17 01:54] ZapUser77 commented on #418
npx electron-builder install-app-deps --arch armv7l

Then there was a problem with grpc.

npm install grpc

Then there was another problem with grpc:
"Unable to CD node_Modules/grpc"
The directory is clearly there.

Manually:
cd node_Modules/grpc
git submodule update --init && npm run electron-build -- --target=1.8.4

This completed with no errors.

pi@raspberrypi:~/source/zap-desktop $ npm run te

[2018-06-17 03:32] ScriptProdigy commented on #230
Also getting stuck at 75%, checked the Lnd logs, seems the default nodes aren't enough and are disconnecting us for some reason.

[code]

This keeps repeating. Any suggestions for fix?
(redacted some of my IP from the logs)

[2018-06-17 07:04] nicolasnoble commented on #420
The actual problem is here:

https://github.com/LN-Zap/zap-desktop/blob/master/app/package.json#L14

Please don't do this. `electron-rebuild` isn't doing things correctly by skipping hooks, and will break grpc every now and then, like with this issue here. Moreover, the only advantage of using `electron-rebuild` is to automatically rebuild for the installed version of electron, so you don't need t

[2018-06-17 07:09] nicolasnoble commented on #420
Also, unless I am mistaken, you are only using the client side of grpc. Please consider using the @grpc/grpc-js package instead, which is a pure javascript client.

[2018-06-17 07:58] mntetai commented on #410
thank you ..

[2018-06-17 11:24] mrfelton opened #432 "lnd log output parsing is unreliable (could cause app to hang at startup)"
After the application starts up lnd it attempts to parse its log output in order to determine and react to the current status of lnd. In the code, we have this:

[code]

See https://github.com/LN-Zap/zap-desktop/blob/master/app/main.dev.js#L174-L177

However, data emitted from a stream's `data` event is actually a buffer of a fixed length which does not directly map to a single line of log output.

[2018-06-17 11:53] mrfelton commented on #420
@nicolasnoble The line that you point to (the `install-grpc` script) is not actually called as part of the installation process.

When you run `yarn` it runs `electron-builder install-app-deps` which causes the `postinstall`step from `app/package.json` to run, which runs the code:

[code]

See https://github.com/LN-Zap/zap-desktop/blob/master/app/package.json#L13

The `install-grpc` script which y

[2018-06-17 17:03] dmp1ce commented on #420
This is all I did originally:

[code]

Afterwords I tried some different branches from @mrfelton by changing the branch with `git checkout` and then `yarn` again.

[2018-06-17 18:05] #422 closed

[2018-06-17 21:55] #432 closed

[2018-06-17 22:41] Empact commented on #418
@ZapUser77 this output you posted seems to indicate a bug in `electron-builder`:
[code]

`electron-builder install-app-deps` is called, it uses the default architecture of `"arm"` then issues an error because `"arm"` is not a valid architecture.

[2018-06-17 23:58] #394 closed

[2018-06-18 05:31] ZapUser77 commented on #418
Although your statement is correct.  The install script shouldn't be sending the default.
If it always sent the default, and the default isn't valid, then *absolutely* no one could install it.
I'm assuming *someone* has been able to install it somewhere, which means it's not just a problem with electron, it's also a problem with the script not passing the correct argument of armv7l.

And if you lo

[2018-06-18 15:34] nicolasnoble commented on #420
Alright, I did some investigation locally, there's still something wrong somewhere, @mrfelton. You say you are invoking `npm rebuild` upon doing `yarn`, but locally, I can see the extension being built instead.

I don't know how to show it exactly with yarn to be honest, but if I try installing your app, I can see the following processes being spawned on my machine:

[code]

[2018-06-18 15:42] mrfelton commented on #420
@nicolasnoble  my understanding is that the recommendation for including 3rd party binaries in an Electron app is to always force compile from code rather than trusting pre-built binaries.

Note that in our `npm rebuild` command we specifically include the `--build-from-source` flag.

As I understand it, the issue here is not that it is trying to rebuild the binaries from source, but rather that i

[2018-06-18 15:59] nicolasnoble commented on #420
That recommendation is bad, really. Or at least, I can understand this stance because a lot of prebuilt packages aren't doing it right for electron, but we took a lot of care into making it right. Now, we are providing prebuilt binaries because it's excruciatingly difficult to built it, especially on platforms like Windows. I would wager that your app is fully uninstallable under Windows that is b

[2018-06-18 21:34] JimmyMow opened #441 "Update proto"
Our `rpc.proto` file is out of date. We need to update it and ensure all API calls/responses still function properly

[2018-06-19 00:43] Empact commented on #441
Recorded the current source of the rpc.proto in 68b4749f3ed9394ee52f14aa0388c7e95955f516. Looks like we're consistent with the latest release so we can update with the next one.

[2018-06-19 00:43] #441 closed

[2018-06-19 00:49] Empact commented on #232
Closing as inactive. Presuming disk corruption was at fault. @AdriaanVanNuffel please reopen if that was not the case!

[2018-06-19 00:49] #232 closed

[2018-06-19 09:49] mrfelton commented on #420
Hey @dmp1ce - could you try with https://github.com/LN-Zap/zap-desktop/pull/445 please?

Code in https://github.com/mrfelton/zap-desktop/tree/build/use-precompiled-grpc-bindings

[2018-06-19 09:49] mrfelton commented on #420
@dmp1ce I would suggest you remove `node_modules` and `app/node_modules` before running `yarn`

[2018-06-19 10:27] odb366 opened #446 "UX/UI Connect to node dialog has bad formatting and readability"
The connect to peer dialog lacks input field borders, which makes fields look like text. Also, it is lacking adequate container and white spacing.

![connect-to-peer](https://user-images.githubusercontent.com/14116101/41592032-1049a75a-73c4-11e8-8209-3335d6e97852.png)

[2018-06-19 15:16] nicolasnoble commented on #420
At least I can confirm this doesn't try to rebuild on my machine, and makes the process much faster :-)

Thanks!

[2018-06-19 17:09] pharcyder commented on #230
I'm having the same issue:

2018-06-19 10:04:52.616 [INF] BTCN: Lost peer 188.166.148.62:18333 (outbound)
2018-06-19 10:04:52.616 [DBG] CMGR: Disconnected from 188.166.148.62:18333 (reqid 1)
2018-06-19 10:04:52.617 [DBG] CMGR: Reconnecting to 188.166.148.62:18333 (reqid 1)
2018-06-19 10:04:52.617 [DBG] CMGR: Retrying connection to 188.166.148.62:18333 (reqid 1) in 5s
2018-06-19 10:04:52.616 [DBG]

[2018-06-19 17:17] dmp1ce commented on #420
@mrfelton That worked for me. Thank you!

[2018-06-19 17:36] fiddybux commented on #230
I've given it a good hammering on multiple OS with latest lnd and latest
ln-zap...replacing lnd in resources folder or equivalent. Gets to 100% but
gives java errors and won't progress further in app.

On Tue, 19 Jun 2018, 18:10 pharcyder, <notifications@github.com> wrote:

[2018-06-20 12:08] fiddybux commented on #234
I have this problem with the latest LN-Zap (v0.1.1-beta) with lnd supplemented for latest version as supplied lnd wouldn't even sync at all (now using updated lnd v0.4.2-beta). Whether Windows 10 or Linux, exhibits the same error. Will sync to 100% but then nothing else. I've also tried with lnd v0.4.1-beta and lnd v0.4-beta. Same issues.

[2018-06-20 18:12] JimmyMow opened #453 "Cannot toggling channel details when you package master"
For some reason when I run `npm run package` and run the build on Mac I cannot open the channel details when I click a channel. It works when running `npm run dev`. Bizarre.

Any ideas @Empact @mrfelton?

[2018-06-20 18:38] mrfelton commented on #453
Just to confirm I can reproduce the issue. Not sure why that would be though.

[2018-06-20 19:08] JimmyMow commented on #453
I know so weird. No errors or warnings in `dev` either. I'll have some time in a sec to do some more serious debugging and will report back

[2018-06-20 19:28] dmp1ce commented on #399
I think I'm experiencing the same thing. I am using the linux_unpacked build.

[2018-06-20 21:50] mrfelton commented on #339
Closing this issue as we now have a permanent slack invite link.

@JimmyMow I think you can close out https://github.com/LN-Zap/zap-desktop/issues/388 too

[2018-06-20 21:50] #339 closed

[2018-06-21 00:53] ronaldmannak opened #455 "No sync"
The precompiled v0.1.1-beta on MacOS 10.13.5 seems to have a version where it won't sync the lightning network upon start.

The first time I opened Zap, the progress bar started at 75% and was stuck on 75% for hours until I quit the app. The second time I opened Zap, the progress bar started at 0% stayed at 0%

The third time I opened the app, the main window didn't show and instead a popup stated

[2018-06-21 08:17] #446 closed

[2018-06-21 08:22] odb366 commented on #425
Fixed by PR #431

[2018-06-21 08:22] #425 closed

[2018-06-21 10:09] michaelWuensch commented on #430
Same for me, stuck at 0%
I forwarded Port 9735, didn't help.
I then downloaded newest lnd and put it in the "C:\Users\YOU\AppData\Local\Programs\zap-desktop\resources\bin" folder.
Well, it started to sync, but I got some error every time I started it.
I'll try building from source next...

[2018-06-21 10:28] crashtest7 commented on #430
It's been a week and I still did not get it to sync despite forwarding port 9735... Installing bitcoin core for now, I'll try it again when the next version rolls out.

[2018-06-21 11:53] fiddybux commented on #430
I have to admit, my success is limited. I can sync to 100% but then I get a
JavaScript error and the UI shows, but I have a loading animation that
never ends. This behaviour is the same on Win10 and Linux.

On Thu, 21 Jun 2018, 11:29 crashtest7, <notifications@github.com> wrote:

[2018-06-21 14:24] JimmyMow opened #457 "Litecoin Support"
Currently we don't _really_ support LTC. We only use `Bitcoin` icons, only convert to BTC price, etc. I think it would be valuable if we supported Litecoin and allowed the user to pick which chain they'd like to launch on during onboarding.

[2018-06-21 18:35] Empact opened #463 "Redundant block explorer api backends"
https://testnet-api.smartbit.com.au/ is currently down, which affects wallet functionality.

We should integrate with 2-3 explorer to provide redundancy so that the wallet does not go down when the apis do.

[2018-06-21 18:36] Empact commented on #463
Options include:
https://www.blocktrail.com/tBTC
https://www.blockcypher.com/dev/bitcoin/

[2018-06-21 20:10] #453 closed

[2018-06-21 22:15] emanuelelaface opened #468 "Wrong Mac release"
The Mac release marked as 0.1.1 contains the 0.1.0.

[2018-06-22 08:38] constantm commented on #230
Same issue on MacOS with version 0.1.0. Log ends with:

`2018-06-22 10:37:15.680 [WRN] BTCN: No sync peer candidates available`

[2018-06-22 12:49] JimmyMow opened #470 "Javascript error in main process (Production)"
With a production build: if you close and open the app too soon or sometimes at all we get weird `error in main process`. The error isn't always consistent but always has something to do with LND or gRPC. Seems as if we aren't properly shutting down the application and our LND process.

cc @Empact @mrfelton
<img width="421" alt="screen shot 2018-06-21 at 10 40 20 pm" src="https://user-images.githu

[2018-06-22 13:19] mrfelton commented on #470
I have noticed this too. Sometimes I have to do `killall lnd` to fix it.

[2018-06-22 19:48] mrfelton opened #472 "Conflicting max-length lint rule causing issues on commit"
@Empact I think the change introduced in https://github.com/LN-Zap/zap-desktop/pull/459 may be causing some issues.

I am finding that prettier formats things one way when you save the document, only for those things to be considered invalid by eslint after (due to difference in expected whitespace between what prettier created, and what eslint things it should be).

It is mentioned in the notes o

[2018-06-22 19:53] Empact commented on #472
Can you post an example code segment? As it is max-len is set higher than the prettier length, so if the line is invalid under eslint it should be because of content that is not specifically sized by prettier, eg a long string or a comment.

[2018-06-25 08:56] LaurensN commented on #455
Lnd logs are at: `~/Library/Application Support/Lnd/logs/testnet3/bitcoin`

I'm having the same issue

[code]

[2018-06-25 16:46] #470 closed

[2018-06-25 18:18] Empact opened #483 "Define CSP for zap.jackmallers.com"
As of #456 we are proxying zap.jackmallers.com to provide CSP info. Would be better if the service were updated to provide its own CSP.

[2018-06-25 18:19] Empact commented on #420
Closing as fixed by #445

[2018-06-25 18:19] #420 closed

[2018-06-26 10:56] mrfelton opened #490 "Repeated error messages shown in devtools console"
If you start up the app in dev mode, open up devtools, and navigate to the devtools network tab and then scroll the list of network requests messages like this one show repeatedly in the devtools console.

This is an incompatibility between devtools and electron 2.x.

See https://github.com/electron/electron/issues/13008#issuecomment-400261941

A possible workaround for this has been provided in h

[2018-06-26 13:26] mrfelton opened #493 "Unable to use app after entering invalid connection details for custom lnd instance"
## Current behaviour

After selecting to use a custom connection during the onboarding process and then submitting the form with some invalid connection details:

Error message in the terminal:
`Error: 14 UNAVAILABLE: Name resolution failure`

Error in the app:
`A JavaScript error occurred in the main process`

Clicking OK after the error message takes you to a broken application window.

## Desir

[2018-06-26 15:04] JohnnyBackflip commented on #430
Same here, just installed it on Ubuntu 18.04. Stuck at 0%.

[2018-06-26 15:32] JimmyMow commented on #490
Tested ACK d4cb99f

[2018-06-26 18:28] fiddybux commented on #430
Hoping for a new release soon. Seems mostly broken.

Do you get Java errors?

On Tue, 26 Jun 2018 at 16:04, JohnnyBackflip <notifications@github.com>
wrote:

[2018-06-26 18:43] #490 closed

[2018-06-27 05:19] mrfelton opened #499 ""Extension server error: Operation failed: : has no execution context" error repeated in console on app startup"
The following error message is repeated multiple times in the console after running `npm run dev`

[2018-06-27 19:56] lylepratt commented on #230
Same issue. Unable to sync. Stays at 0% forever.

[2018-06-27 19:59] #499 closed

[2018-06-28 11:06] rolandbitcoinspot commented on #230
same here on windows 10.

[2018-06-28 12:06] mntetai opened #504 ""UNAVAILABLE: TCP Read failed" error while syncing"
Got an error while syncing bitcoin network.

log as follows :
`Thu, 28 Jun 2018 11:59:34 GMT zap:lnd  [ERR]  2018-06-28 14:59:34.771 [ERR] SRVR: unable to start server: Couldn't get basic filter for block 1342004 (000000000001d04d2ef6c3f6cf909650507c1a7fc66bbdda86de70712b50113b)
Thu, 28 Jun 2018 11:59:34 GMT zap:lnd  [ERR]
Thu, 28 Jun 2018 11:59:34 GMT zap:lnd  [DBG]  2018-06-28 14:59:34.771 [DBG]

[2018-06-28 15:12] odb366 commented on #415
Wow, how did I missed that. Thanks @mrfelton. Fix incoming.

[2018-06-28 15:38] odb366 commented on #415
Another usability issue is that we don't have a back button on this screen. Should I add back functionality to the autopilot step?

[2018-06-28 15:44] JimmyMow commented on #415
No. That's more complex than you think. We'd have to shut down our LND process we just started. No back button there

[2018-06-28 16:29] odb366 commented on #415
@JimmyMow Ok

[2018-06-28 19:16] odb366 commented on #415
Issue fixed, closing

[2018-06-28 19:40] odb366 commented on #415
The issue is reopened because it is possible to proceed with 2 different passwords ..

[2018-06-28 20:13] JimmyMow commented on #493
@mrfelton related thought. Should we allow users the ability to paste in their macaroon and cert directly so they don't have to copy it over to their local machine?

[2018-06-28 20:30] bradyswenson commented on #430
Also stuck at 0% attempting to install on Mac OSX.

[2018-06-28 23:43] mayfer commented on #230
Same issue, stuck on "No sync peer candidates available" in the lnd log.

[2018-06-29 09:25] emanuelelaface opened #507 "GUI: when an empty channel list is selected the channel menu disappears."
Under My Network column there is the possibility to filter out the channels to show. By default the option is All but it is possible to select also Online, Offline, Pending and Closing.
If I select one option that has no entries, for example Pending while I do not have any pending channel, the result is "Hmmm, looks like you don't have any channels yet. Here are some suggested nodes to open a chan

[2018-06-29 19:06] Empact commented on #463
https://testnet-api.smartbit.com.au/ is down again. Another argument for prioritizing this.

[2018-06-29 19:13] damianobonazzi commented on #430
I was stuck at 74% after first launch, then I came here, read this post about forwarding port 9735, did it, but still stuck.
I restarted the program, and now I'm stuck at 0%.

[2018-06-29 19:41] mrfelton opened #513 "Stylesheets under app/components do not pass lint rules."
There is a bug in our configuration for stylesheet linting causing none of the the stylesheets in app/components to be linted.

We lint using the glob `app/components/*.scss` It should be `app/components/**/*.scss` in order to get things in all sub directories.

Many of our stylesheets will need relinting and fixing after fixing the lint script config

[2018-06-30 15:53] mrfelton opened #517 "I should see a progress counter showing the total number of blocks synced vs remaining in the onboarding process so that I tell if the sync is still happening"
Some feedback from Slack:

 -- @michaelWuensch

[2018-06-30 15:54] mrfelton opened #518 "Being given the option to set 2 different passwords (wallet password + seed password) during onboarding process can be confusing for new users"
Some feedback from Slack:

 -- @michaelWuensch

[2018-06-30 15:55] mrfelton commented on #518
@odb366

[2018-06-30 15:55] mrfelton opened #519 "The funding address displayed during syncing changes every time I restart zap, although I never funded it"
-- @michaelWuensch

[2018-06-30 15:56] mrfelton opened #520 "I should not have to go through the onboarding process every time I start the app"
-- @michaelWuensch

[2018-06-30 15:56] mrfelton commented on #520
-- @odb366

[2018-06-30 15:57] mrfelton opened #521 "I should be able to hide expired payment requests in order to keep my wallet clean of clutter"
Some feedback from @michaelWuensch in slack

[2018-06-30 15:57] mrfelton opened #522 "Users should be advised of the importance of keeping their seed safe and secure during the onboarding process"
Some feedback from Slack:

 -- @michaelWuensch

[2018-06-30 15:57] mrfelton opened #523 "Limits on channel balances when opening a new channel should respect the selected default currency"
Some feedback from Slack:

 -- @michaelWuensch

[2018-06-30 15:58] #493 closed

[2018-06-30 16:00] mrfelton commented on #493
@JimmyMow the cert could be easily copy/pasted by the user and stored and secured by us via the app. Hover I think the macaroon is more tricky since it is stored as binary data in the `admin.macaroon` file which can't easily be copy/pasted by the user without first converting it to hex format. This may require some enhancements in lnd to provide other ways of exporting/accessibng the macaroon.

[2018-06-30 22:47] odb366 opened #524 "[UI] Loading screens white space issue"
The loading screen during onboarding seems cut off. OS: win10
![onboarding-loading-screen](https://user-images.githubusercontent.com/14116101/42129545-e46ad306-7ccf-11e8-9811-e951769f86ea.png)

[2018-07-02 01:35] doctorvargas commented on #455
I am having the same issue, almost as described by ronaldmannak, but, I have never been beyond the progress indicator stuck at 0%.

Thanks for your support.

[2018-07-02 05:43] mrfelton commented on #455
Zap v0.1.1-beta is currently not supported. We will be releasing an updated version of the wallet soon. In the meantime, you can run the latest code from the master branch in conjunction with lnd v0.4.2-beta if you want to test the wallet.

[2018-07-02 07:24] mntetai opened #525 "main screen does not appear after onboarding"
I have pulled  from master.
When Zap desktop has finished on boarding process  , it is stuck on it's last screen.
Main channel screen dosn't appear even after reload.

OS : win 10 pro
LND : 0.4.2
commit id : 55a261cfe31546aebd52afa9c0b379400d045e31 on master branch
![onboarding_02_07_2018](https://user-images.githubusercontent.com/1884392/42150283-034631d6-7de2-11e8-88fd-8f0dbcfa250b.png)

[2018-07-02 10:07] mrfelton commented on #525
@mntetai please could you test the PR at https://github.com/LN-Zap/zap-desktop/pull/526 which should resolve this issue? Thanks

[2018-07-02 10:10] mrfelton commented on #519
@michaelWuensch could you give the PR at https://github.com/LN-Zap/zap-desktop/pull/527 a test please, which address this issue

[2018-07-02 10:29] michaelWuensch commented on #519
@mrfelton Yes, I can test it. I am quite new to the whole github workflow though. Is there an easy way to merge your changes into my local master branch, or do I have to clone your whole Zap repository as a new project and test it there?

[2018-07-02 10:47] mntetai commented on #525
I found the bug source.
Chrome dev tools - when it's opened by default on dev environment .
I have commented out this line -  `/*mainWindow.webContents.once('dom-ready', () => {
      mainWindow.openDevTools()
    })*/` lines 80-82 on main.dev.js

[2018-07-02 10:50] michaelWuensch commented on #519
@mrfelton never mind, I think I found out how to do this. I'll try it in a few hours when I am back home.

[2018-07-02 11:20] mntetai commented on #525
I have to check again after you merge to master.
I am not sure that this issue solves it ..
When I disabled chrome dev tools the app had the correct behaviour ( when sync finished , it opened the main screen ).

[2018-07-02 11:20] mrfelton commented on #525
@mntetai I'm pretty sure that is not the cause, although it's possible that it may see as though commenting that out resolves the issue. I have tested your changes to confirm that it doesn't reliably resolve the issue.

The actual issue is a race condition, as described in #526.

The issue only happens sometimes - specifically if when you open the wallet, there is little to no syncing that needs t

[2018-07-02 11:23] mntetai commented on #525
ok .. merge it then .

[2018-07-02 11:49] mntetai commented on #525
I have checked out your branch .
I will have to check it a few times .
So far it looks as if the problem is solved .
But there is still a problem there , I have to close the chrome dev tools to unlock the wallet. ( unlock is disabled if I have dev tools opened .. so there might be another bug hidden there .. )

[2018-07-02 12:13] mntetai commented on #525
I have looked in to the mater branch app as well .
In your branch I get the steps events ( react events - changing ui  )
There are no steps events on the master .

[2018-07-02 18:07] JimmyMow opened #528 "UX: Sending payments with no edges"
A new node has a tough time getting a sense of the network at first. What commonly happens when I'm testing Zap is I create my first channel, that channel becomes active, but my network view (`describeGraph`) shows 0 edges (`channels`).

This is an issue because from my view I have an active channel and should be able to make a payment. But the reality is every attempted payment is going to get a

[2018-07-02 21:02] michaelWuensch commented on #519
@mrfelton I tested your PR. Unfortunatelly the address still changes on my system every time I restart Zap.
Furthermore I noticed that your PR changes the displayed address to bech32 while before it was Base58Check. I welcome that, but I think you should at least mention it somewhere in the PR.
I could not test if sending funds to the address works, as I am again stuck at 100% syncing...

[2018-07-02 21:54] mrfelton commented on #519
@michaelWuensch you may need to look at https://github.com/LN-Zap/zap-desktop/pull/526 to get past the syncing issue

[2018-07-02 21:56] mrfelton commented on #519
The address type shouldn't have been changed in that PR. I know that the address type that we use was recently changed however as part of https://github.com/LN-Zap/zap-desktop/pull/477

[2018-07-02 22:03] michaelWuensch commented on #519
@mrfelton Yes it should not change, but at least on my system it does. I switched between master branch and your PR and it definetly changed. Checking out master reversed it again. I also thought it is strange as I couldent find that change in your code...

[2018-07-02 22:23] mrfelton commented on #519
My bad - there was a bug in my PR. I have pushed an updated version. You'll probably want to run with the the changes from #477  in addition to #526 and so that you don't get stuck syncing

[2018-07-03 06:36] mrfelton commented on #528
Is there a way for us to bootstrap the node with a more complete picture of the network? Can we somehow call out to some well known nodes or services that can provide an initial view?

[2018-07-03 06:47] michaelWuensch commented on #519
@mrfelton Tested it again. This time it worked. Address stayed the same for each restart. Address fromat is back to Base58 and address changed after funding.
Furthermore I can confirm that #526 fixed the syncing problem.
I did nothing in regards to #477 though as this was merged into master 8 days ago.

[2018-07-03 11:10] #525 closed